* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */




.topo-total{
    width: 100%;
}

.topo{
    width: 1200px;
    margin: 0 auto;
}

.menu-total{
    width: 100%;
}

.menu{
    width: 1200px;
    margin: 0 auto;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    /* text-decoration: none; */
}

.menu ul li a {
    text-decoration: none;
}

.box-total{
    width: 100%;
}

.box{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.box p{
    font-size: 30px;
    color: purple;
    background-color: aliceblue;
}

.rodape-total{
    width: 100%;
}

.rodape{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;
}

.logo-rodape {
    width: 100%;
}

.texto-rodape {
    width: 100%;
}








@media only screen and (max-width:998px) {
    * {
        max-width: 100%;
        box-sizing: border-box;

    }
   
}
