* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */

.topo-total {
    width: 100%;
    position: relative;
}

.menu-total {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 5%;
    display: flex;
}

.menu {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    color: white;
    padding: 10px;
}

a.ativo {
    color: white;
    /* padding: 10px; */
    font-size: 17px;
    text-decoration: none;
}

.logo-menu {
    /* padding: 20px 0px; */
    width: 300px;
}

.logo-menu img {
    width: 100%;
}

* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */

.topo-total {
    width: 100%;
    position: relative;
}

.menu-total {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 5%;
    display: flex;
    /* text-align: center; */
}

.menu {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu ul {
    display: flex;
    list-style: none;
    /* width: 100%; */
}

.menu ul li {
    color: white;
    padding: 10px;
}

.menu ul li a:hover {
    color: #f47f35;
}

a.ativo {
    color: white;
    /* padding: 10px; */
    font-size: 17px;
    text-decoration: none;
}

.logo-menu {
    /* padding: 20px 0px; */
    width: 300px;
}

.logo-menu img {
    width: 100%;
}

.box-banner {
    position: absolute;
    width: 390px;
    top: 50%;
    left: 40%;
    text-align: center;
    /* display: flex; */
}
.box-banner h2 {
    font-family: fangsong;
    font-size: 40px;
    color: #FFCB00;
    font-style: oblique;
}

.banner-titulo {
    background-color: #0000009e;
    /* opacity: 0.7; */
    width: 370px;
    padding: 5px 10px;
    border-radius: 7px;
}

.banner-subtitulo {
    /* width: 980px; */
    text-align: center;
    background-color: #00000057;
    /* margin-top: 0px; */
    padding: 5px 10px;
    padding: 10px;
    border-radius: 7px;
}

.box-banner-sub {
    position: absolute;
    width: 790px;
    top: 60%;
    left: 28%;
}

.box-banner-sub p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.rodape {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.logo-rodape {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 20px 0;
}

.rodape {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.rodape-total {
    background-color: #404040;
}

.rodape-conteudo p {
    color: white;
    /* font-size: 19px; */
    font-size: 20px;
}


.rodape-conteudo {
    padding: 30px 0;
}

.rodape-conteudo i{
    color: white;
    font-size: 15px;
}

.rodape-conteudo h2 {
    display: flex;
    color: white;
    font-size: 15px;
}

.rodape-conteudo input[type="text"] {
    border: 2px solid #D279EE;
    width: 200px;
    border-radius: 20px;
    /* display: flex; */
    background-color: #404040;
    padding-top: 10px;
    margin-top: 5px;
    color: white;
    padding: 10px;
}

input.inpNome {
    width: 100px !important;
    display: flex;
}
.rodape-conteudo h3 {
    color: white;
}

 .rodape-conteudo button {
    background-color: #d279ee;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    border: none;
    text-align: center;
}


.box-total {
    background-color: #f1f1f1;
    width: 100%;
    margin: 55px 0;
}

.box {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.global {
    /* padding: 60px 0; */
}

.box-imagem img {
    border: 10px solid white;
    margin-top: -50px;
    margin-bottom: 30px;
    /* margin: 20px 0; */
}

.box-conteudo {
    width: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
}

.box-conteudo h2 {
    width: 100%;
    text-align: center;
    color: #d279ee;
    font-size: 25px;
    font-family: serif;
}

.box-conteudo p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: serif;
}

.box-conteudo button {
    margin: 0 auto;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 9px;
    background-color: #d279ee6e;
}

.box-total-100 {
    width: 100%;
    display: flex;
    background-color: #f1f1f1;
    margin-top: 30px;
    border-top: 1px solid #6e6e6e;
    /* padding: 10px 3px; */
    align-items: center;
}

.box-conteudo-total {
    width: 25%;
    height: 160px;
    /* padding-left: 30px; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10p;
}

.box-conteudo-total h2 {
    color: #d279ee;
    margin: 0 auto;
    font-size: 20px;
}
.box-imagem-total {
    width: 25%;
}

.box-total-100.dois {
    margin: 0;
    border: none;
}

.box-conteudo-total p {
    padding: 40px;
}



.box-conteudo.dois {
    height: 130px;
    /* width: 100%; */
}


.box-conteudo.dois h2 {
    color: black;
    font-size: 19px;
    text-align: initial;
}

.box-conteudo.dois button {
    background-color: #00000014;
    margin: 0;
    width: 150px;
}

.box-conteudo.dois p {
    text-align: initial;
}


.box-total.tres {
    background-color: white;
}

.box.tres {
    height: auto;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
}

.box-conteudo.tres {
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;
}
.box-02-total {
    width: 100%;
}

.box-02 {
    width: 1200px;
    margin: 0 auto;
}

.box-02-titulo {
    text-align: center;
}

.box-02-imagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-02-titulo h2 {
    font-size: 20px;
    padding-bottom: 60px;
}

.box-04 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 30px 0;
}

.box-form {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding: 50px 100px;
    justify-content: center;
    /* margin: 0 auto; */
    background-color: #e2e2e2a6;
    border-radius: 10px;
    }

input[type="text"] {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: none;
    border: 1px solid black;
    padding: 0px 10px;
}
.box-form h2 {
    color: #4e4e4e;
    font-size: 30px;
}

.box-form button {
    width: 60px;
}

.box-05-mapa{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.box-04-total {
    border: 1px solid #0000001c;
}

.box-banner-02{
    display: none;
}


@media only screen and (max-width: 1580px) {

    .box-banner-sub{
        margin-top: 30px;
        width:50%;
    }

}

@media only screen and (max-width: 1300px) {

    .box-total-100{
        width:100%;
        flex-wrap: wrap;
        justify-content: center;
        /* padding: 40px 0; */
    }

    .box-total-100.dois{
        padding-bottom: 30px;
    }

    .box-imagem-total{
        padding-top: 30px;
        width: 90%;
    }

    .box-conteudo-total{
        width: 100%;
        /* padding: 70px 0; */
        padding-top: 30px;
    }

}


@media only screen and (max-width: 1050px) {
    
    .menu{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        /* text-align: center; */
    }

    .menu ul{
        width:100%;
        display: flex;
        justify-content: center;
    }

    .box-banner-sub{
         top: 57%;
         left:10%;
         width:30%;
         /* margin-top: 30px; */
         padding: 30px 0;
    }

    .box-banner{
        left:10%;
        /* margin-top: 30px; */
        top: 50%;
        padding: 20px 0;
    }

    .box-conteudo.dois h2{
        padding: 0px 20px;
    }

    .box-conteudo.dois p{
        padding: 0px 20px;
    }

    .box-conteudo.dois button{
        /* padding: 0px 10px; */
        margin-left: 20px;
    }
}

@media only screen and (max-width: 900px) {

    .box-banner{
        display:none;
    }

    .box-banner-sub{
        display: none;
    }

    .box-banner-02{
        display: block;
    }

    .box-banner-02 {
        position: absolute;
        width: 90%;
        top: 105%;
        /* margin: 0 auto; */
        /* margin-left: 30px; */

    }

    .banner-02-conteudo{
        width: 90%;
        background: #f1f1f1;
        padding: 20px 36px;
        /* margin: 0 auto; */
        margin-left: 10px;
}

.box-total {
    margin-top: 110px;
}

.box-02-imagens {
        width:100%;
        flex-wrap:wrap;
    }

    .box-02-imagens img {
        width: 20%;
    }

    .box-04{
        flex-wrap: wrap;
    }

    .box-form{
        width: 200px;
        margin-top: 20px;
    }

    .box-04-imagem img{
        border-radius: 10px;
    }

    .rodape{
        flex-wrap: wrap;
    }

    .rodape-conteudo{
        width: 100%;
        /* display: flex; */
        /* justify-content: center; */
        /* flex-wrap: wrap; */
        text-align: center;
    }

    .rodape-conteudo h3{
        margin: 0 auto;
    }

        input.inpNome {
        width: 50% !important;
        margin: 0 auto;
}

.box-conteudo.dois{
    width:100%;
}

.box{
    flex-wrap:wrap;
    height: auto;
}

.box-imagem-2 {
    padding: 20px;
}

input[type="text"] {
    padding: 10px 10px;
    margin-top: 12px;
}

.box-form button {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    width: 80px;
    width: 100px !important;
}

.rodape-conteudo h2 {
    justify-content: center;
}

.box-imagem {
    margin: 70px auto;
}

.banner-02-conteudo h2{
    width: 100%;
    text-align: center;
    color: #cb7e50;
    font-size: 25px;
    font-family: serif;
}


.banner-02-conteudo p{
    width: 100%;
    text-align: center;
    /* color: #cb7e50; */
    font-size: 15px;
    font-family: serif;
}

.box-conteudo {
    height: auto;
    padding: 20px 0;
}
    

}

@media only screen and (max-width: 540px) {

    
    .box-total-100.dois{
        padding-bottom: 80px;
    }

    .rodape-conteudo input{
        width: 100%;

    }

    input.inpNome{
        width: 100%;
    }


    
    
} 