<link href="../css/style.css" rel="stylesheet" type="text/css" />



<div class="global-all-pages">

	<div class="titulo-total">

		<div class="fir-esq-titulo"><img src="[template]/images/esq-menu.jpg" width="10px" height="40px" /></div>

		<div class="icone-titulo"><img src="[template]/images/icone.png" width="38px" height="35px" /></div>

		<div class="titulo">

			<h1>RSVP</h1>

		</div>

		<div class="fir-dir-titulo"><img src="[template]/images/dir-menu.jpg" width="10px" height="40px" /></div>

	</div>

	<!-- titulo total -->



	<div id="rsvp-total">

		<div class="linha-rsvp">


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-yasmin-e-reginaldo"><img
							src="[template]/images/confirmacao-presenca/capa-casamento-yasmin-e-reginaldo.jpeg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-yasmin-e-reginaldo">Yasmin e
						Reginaldo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-yasmin-e-reginaldo">14.04.2022</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-juliana-e-luis-gustavo"><img
							src="[template]/images/capa-juliana-e-luis-gustavo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-luis-gustavo">Juliana e Luis
						Gustavo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-luis-gustavo">20.11.2021</a>
				</div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-vanessa-e-tiago"><img
							src="[template]/images/confirmacao-presenca/capa-casamento-thiago-e-vanessa.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vanessa-e-tiago">Vanessa e Tiago</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vanessa-e-tiago">13.11.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-tamiris-e-fernando"><img
							src="[template]/images/confirmacao-presenca/capa-tamiris-e-fernando.jpeg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-yasmin-e-reginaldo">Tamiris e
						Fernando</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-yasmin-e-reginaldo">16.10.2021</a></div>

			</div>



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-nathalia-e-alvaro"><img
							src="[template]/images/capa-nathalia-e-alvaro.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nathalia-e-alvaro">Nathalia e Alvaro</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nathalia-e-alvaro">25.09.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-dara-e-felipe"><img
							src="[template]/images/capa-dara-e-felipe.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dara-e-felipe">Dara e Felipe</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dara-e-felipe">17.09.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-carol-e-murilo"><img
							src="[template]/images/capa-carol-e-murilo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carol-e-murilo">Carol e Murilo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carol-e-murilo">04.09.2021</a></div>

			</div>



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-heloisa-e-edson"><img
							src="[template]/images/capa-heloisa-e-edson.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-heloisa-e-edson">Heloisa e Edson</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-heloisa-e-edson">28.08.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-renata-e-guilherme"><img
							src="[template]/images/capa-casamento-renata-e-guilherme.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-renata-e-guilherme">Renata e
						Guilherme</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-renata-e-guilherme">21.08.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-william-e-aquila"><img
							src="[template]/images/confirmacao-presenca/capa-casamento-william-e-aquila.jpeg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-william-e-aquila">William e Áquila</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-william-e-aquila">08.08.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marina"><img src="[template]/images/foto-capa-marina.jpg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marina">Marina 15 anos</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marina">16.05.2021</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-jessica-e-marcus"><img
							src="[template]/images/capa-jessica-e-marcus.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-marcus">Jéssica e Marcus</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-marcus">20.02.2021</a></div>

			</div>



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confimacao-de-presenca-amanda-e-lucas"><img
							src="[template]/images/casamento-amanda-e-lucas.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confimacao-de-presenca-amanda-e-lucas">Amanda e Lucas</a></div>

				<div class="texto-rsvp"><a href="[url]/confimacao-de-presenca-amanda-e-lucas">10.10.2020</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-julia-e-glauco"><img
							src="[template]/images/capa-julia-e-glauco.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-julia-e-glauco">Julia e Glauco</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-julia-e-glauco">29.02.2020</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-adriana-e-gustavo"><img
							src="[template]/images/confirmacao-presenca/capa-adriana-e-gustavo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-adriana-e-gustavo">Adriana e Gustavo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-adriana-e-gustavo">11.01.2020</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-juliana-e-hoberdan"><img
							src="[template]/images/capa-julia-e-hoberdan.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-hoberdan">Juliana e
						Hoberdan</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-hoberdan">30.11.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-gabriela-e-marcelo"><img
							src="[template]/images/capa-gabriela-marcelo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-marcelo">Gabriela e
						Marcelo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-marcelo">19.10.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-natalia-e-jordan"><img
							src="[template]/images/capa-natalia-jordan.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-natalia-e-jordan">Natália e Jordan</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-natalia-e-jordan">19.10.2019</a></div>

			</div>
			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-mariana-e-paulo"><img
							src="[template]/images/capa-mariana-e-paulo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-mariana-e-paulo">Mariana e Paulo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-mariana-e-paulo">19.10.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-fernanda-e-lincoln"><img
							src="[template]/images/capa-fernanda-lincoln.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernanda-e-lincoln">Fernanda e
						Lincoln</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernanda-e-lincoln">07.09.2019</a></div>

			</div>
			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-gabriela-e-andre"><img
							src="[template]/images/capa-gabriela-andre.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-andre">Gabriela e André</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-andre">20.07.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-camila-e-giovani"><img
							src="[template]/images/capa-camila-giovani.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-camila-e-giovani">Camila e Giovani</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-camila-e-giovani">15.06.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-cristina-e-andre"><img
							src="[template]/images/capa-cristina-andre.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristina-e-andre">Cristina e André</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristina-e-andre">27.04.2019</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-paula-e-jackson"><img
							src="[template]/images/capa-paula-jackson.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-paula-e-jackson">Paula e Jackson</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-paula-e-jackson">06.04.19</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-aline-e-rodrigo"><img
							src="[template]/images/capa-aline-rodrigo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-aline-e-rodrigo">Aline e Rodrigo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-aline-e-rodrigo">06.04.19</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-jessica-e-leonardo"><img
							src="[template]/images/jessica-e-leonardo.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-leonardo">Jéssica e
						Leonardo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-leonardo">08.12.2018</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-daniela-e-emerson"><img
							src="[template]/images/daniela-e-emerson.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daniela-e-emerson">Daniela e Emerson</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daniela-e-emerson">10.11.2018</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-thais-e-gilberto"><img
							src="[template]/images/thais-e-gilberto.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-gilberto">Thais e Gilberto</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-gilberto">10.11.2018</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marilia-e-thiago"><img
							src="[template]/images/confirmacao-presenca/marilia-e-thiago.png" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marilia-e-thiago">Marília e Thiago</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marilia-e-thiago">20.10.2018</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-andreia-e-joao"><img
							src="[template]/images/confirmacao-presenca/andreia-e-joao.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andreia-e-joao">Andréia e João</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andreia-e-joao">06.10.2018</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-zilda-e-eduardo"><img
							src="[template]/images/zilda-e-eduardo.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-zilda-e-eduardo">Zilda e Eduardo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-zilda-e-eduardo">22.09.18</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-daniela-e-renato"><img
							src="[template]/images/daniela-e-renato-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daniela-e-renato">Daniela e Renato</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daniela-e-renato">28.07.18</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-denise-e-eduardo"><img
							src="[template]/images/denise-e-eduardo-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-denise-e-eduardo">Denise e Eduardo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-denise-e-eduardo">30.06.18</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-barbara-e-henrique"><img
							src="[template]/images/barbara-e-henrique-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-barbara-e-henrique">Bárbara e
						Henrique</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-barbara-e-henrique">11.05.2018</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-tamires-e-felipe"><img
							src="[template]/images/tamires-e-felipe-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-tamires-e-felipe">Tamires e Felipe</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-tamires-e-felipe">05.05.2018</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-fernando-e-rafaela"><img
							src="[template]/images/fernando-e-rafaela-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernando-e-rafaela">Fernando e
						Rafaela</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernando-e-rafaela">17.03.2018</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-thais-e-vinicius"><img
							src="[template]/images/thais-e-vinicius-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-vinicius">Thais e Vinícius</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-vinicius">03.02.2018</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-monise-e-eli"><img
							src="[template]/images/monise-e-eli-capa.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-monise-e-eli">Monise e Eli</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-monise-e-eli">24.11.2017</a></div>

			</div>


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-elaine-e-rogerio"><img
							src="[template]/images/elaine-rogerio.png" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-elaine-e-rogerio">Elaine e Rogério</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-elaine-e-rogerio">11.11.2017</a></div>

			</div>
			<!-- galeria rspv -->

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-angela-e-joao"><img
							src="[template]/images/capa-casal-angela-e-joao.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-angela-e-joao">Ângela e João</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-angela-e-joao">28.10.2017</a></div>

			</div>

			<!-- galeria rspv -->


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-andrea-e-dida"><img src="[template]/images/dida-e-deia.jpg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andrea-e-dida">Andréa e Dida </a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andrea-e-dida">21.10.2017</a></div>

			</div>
			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-luana-e-hugo"><img
							src="[template]/images/luana-e-hugo-capa.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-luana-e-hugo">Luana e Hugo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-luana-e-hugo">21.10.2017</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-suzy-e-rafael"><img
							src="[template]/images/confirmacao-presenca/suzy-e-rafael.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-suzy-e-rafael">Suzy e Rafael</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-suzy-e-rafael">30.09.2017</a></div>

			</div>

			<!-- galeria rspv -->


			<!--<div class="galeria-rspv">

                <div class="foto-rsvp">

                    <a href="[url]/confirmacao-de-presenca-rafaela-e-joao"><img src="[template]/images/rafaela-e-joao.jpg" width="280" height="180" /></a>

                </div>

                <div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-rafaela-e-joao">Rafaela e João</a></div>

                <div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-rafaela-e-joao">09.09.2017</a></div>

            </div>-->

			<!-- galeria rspv -->




			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-andressa-e-russo"><img
							src="[template]/images/confirmacao-presenca/andressa-e-russo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andressa-e-russo">Andressa e
						José(Russo)</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-andressa-e-russo">09.09.2017</a></div>

			</div>

			<!-- galeria rspv -->


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-thais-e-paulo"><img
							src="[template]/images/confirmacao-presenca/thais-e-paulo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-paulo">Thais e Paulo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-paulo">24.06.2017</a></div>

			</div>

			<!-- galeria rspv -->

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-juliana-e-andre"><img
							src="[template]/images/confirmacao-presenca/juliana-e-andre.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-andre">Juliana e André </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nayane-e-paulo">27.05.2017</a></div>

			</div>

			<!-- galeria rspv -->

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-nayane-e-paulo"><img
							src="[template]/images/confirmacao-presenca/nayane-e-paulo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nayane-e-paulo">Nayane e Paulo </a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nayane-e-paulo">06.05.2017</a></div>

			</div>

			<!-- galeria rspv -->

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-jessica-e-luan"><img
							src="[template]/images/confirmacao-presenca/jessica-e-luan.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-luan">Jéssica e Luan</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-jessica-e-luan">07.04.2017</a></div>

			</div>

			<!-- galeria rspv -->


			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-lais-e-luis"><img
							src="[template]/images/confirmacao-presenca/lais-e-luis.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-lais-e-luis">Laís e Luis </a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-lais-e-luis">18.02.2017</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-fernanda-e-beto"><img
							src="[template]/images/confirmacao-presenca/fernanda-e-beto.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernanda-e-beto">Fernanda e Beto </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fernanda-e-beto">14.01.2017</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-thais-e-bruno"><img
							src="[template]/images/confirmacao-presenca/thais-e-bruno.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-bruno">Thaís e Bruno</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-thais-e-bruno">10.12.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-daiane-e-sergio"><img
							src="[template]/images/confirmacao-presenca/banner-daiane-e-sergio.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daiane-e-sergio">Daiane e Sérgio</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-daiane-e-sergio">19.11.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-anita-e-murilo"><img
							src="[template]/images/confirmacao-presenca/banner-anita-e-murilo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-anita-e-murilo">Anita e Murilo </a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-anita-e-murilo">05.11.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-juliana-e-douglas"><img
							src="[template]/images/confirmacao-presenca/banner-juliana-e-douglas.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-douglas">Juliana e Douglas</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-douglas">10.09.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-aline-e-alessandro"><img
							src="[template]/images/confirmacao-presenca/banner-aline-e-alessandro.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-aline-e-alessandro">Aline e Alessandro
					</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-aline-e-alessandro">20.08.2016 </a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-gabriela-e-fabio"><img
							src="[template]/images/confirmacao-presenca/gabi.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-fabio">Gabriela e Fabio </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-fabio">30.07.2016 </a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-giseli-e-roberto"><img
							src="[template]/images/confirmacao-presenca/banner-gisele-e-roberto.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-giseli-e-roberto">Giseli e Roberto </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-giseli-e-roberto">25.06.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-stefany-e-thiago"><img
							src="[template]/images/confirmacao-presenca/banner-stefany-e-thiago.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-stefany-e-thiago">Stéfany e Thiago </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-stefany-e-thiago">30.04.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-ariane-e-douglas"><img
							src="[template]/images/confirmacao-presenca/banner-ariane-e-douglas.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-ariane-e-douglas">Ariane e Douglas </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-ariane-e-douglas">23.04.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-anelyse-e-thiago"><img
							src="[template]/images/confirmacao-presenca/banner-anelysa-e-thiago.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-anelyse-e-thiago">Anelyse e Thiago </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-anelyse-e-thiago">06.02.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-caroline-e-umberto"><img
							src="[template]/images/confirmacao-presenca/banner-caroline-e-umberto.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-caroline-e-umberto">Caroline e
						Umberto</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-caroline-e-umberto">30.01.2016</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-juliana-e-robson"><img
							src="[template]/images/confirmacao-presenca/banner-juliana-e-robson.png" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-robson">Juliana e Robson </a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-juliana-e-robson">28.11.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-beatriz-e-juliano"><img
							src="[template]/images/confirmacao-presenca/banner-beatriz-e-juliano.png" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz-e-juliano">Beatriz e Juliano</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz-e-juliano">21.11.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-nathalia-e-lucas"><img
							src="[template]/images/confirmacao-presenca/banner-nathalia-e-lucas.png" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nathalia-e-lucas">Nathalia e Lucas</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-nathalia-e-lucas">31.10.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-suelem-e-romulo"><img
							src="[template]/images/confirmacao-presenca/casal-suelem-e-romulo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-suelem-e-romulo">Suelem e Rômulo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-suelem-e-romulo">17.10.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-tatiane-e-wesley"><img
							src="[template]/images/confirmacao-presenca/chamada-tatiane-wesley.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-tatiane-e-wesley">Tatiana e Wesley</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-tatiane-e-wesley">29.08.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-danilo-e-giovana"><img
							src="[template]/images/confirmacao-presenca/confirmacao-danilo-e-giovana.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-danilo-e-giovana">Danilo e Giovana</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-danilo-e-giovana">04.07.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-alana-e-carlos"><img
							src="[template]/images/confirmacao-presenca/confirmacao-alana-e-carlos.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-alana-e-carlos">Alana e Carlos</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-alana-e-carlos">12.06.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-beatriz-varzea"><img
							src="[template]/images/confirmacao-presenca/confirmacao-bia.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz-varzea">Beatriz</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz-varzea">21.02.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-luciene-e-diogo"><img
							src="[template]/images/confirmacao-presenca/confirmacao-luciene-e-diogo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-luciene-e-diogo">Luciene e Diogo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-luciene-e-diogo">14.02.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-amanda-e-douglas"><img
							src="[template]/images/confirmacao-presenca/confirmacao-amanda-e-douglas.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-amanda-e-douglas">Amanda e Douglas</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-amanda-e-douglas">07.02.2015</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-janaina-e-marquinhos"><img
							src="[template]/images/confirmacao-presenca/confirmacao-janaina-e-marquinhos.jpg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-janaina-e-marquinhos">Janaína e
						Marquinhos</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-janaina-e-marquinhos">24.01.2015</a>
				</div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marcus-e-kelly"><img
							src="[template]/images/confirmacao-presenca/confirmacao-marcus-e-kelly.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcus-e-kelly">Marcus e Kelly</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcus-e-kelly">19.12.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-estefania-e-sandro"><img
							src="[template]/images/confirmacao-presenca/confirmacao-estefania-e-sandro.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-estefania-e-sandro">Casal Estefânia e
						Sandro</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-estefania-e-sandro">22.11.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-cristiane-e-adriano"><img
							src="[template]/images/confirmacao-presenca/confirmacao-cristiane-e-adriano.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-adriano">Cristiane e
						Adriano</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-adriano">15.11.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-ana-paula-e-eduardo"><img
							src="[template]/images/confirmacao-presenca/confirmacao-ana-paula-e-eduardo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-ana-paula-e-eduardo">Ana Paula e
						Eduardo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-ana-paula-e-eduardo">08.11.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-veronica-e-carlos"><img
							src="[template]/images/confirmacao-presenca/confirmacao-veronica-e-carlos.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-veronica-e-carlos">Verônica e Carlos</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-veronica-e-carlos">18.10.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-mariane-e-anilton"><img
							src="[template]/images/confirmacao-presenca/confirmacao-casal-mariane-a-anilton.jpg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-mariane-e-anilton">Mariane e Anilton</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-mariane-e-anilton">18.10.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-gabriela-e-danilo"><img
							src="[template]/images/confirmacao-presenca/confirmacao-gabriela-e-danilo.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-danilo">Gabriela e Danilo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-gabriela-e-danilo">13.09.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-beatriz"><img
							src="[template]/images/confirmacao-presenca/confirmacao-beatriz.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz">Beatriz</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-beatriz">23.08.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-natanny-e-bruno"><img
							src="[template]/images/confirmacao-presenca/confirmacao-natanny-e-bruno.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-natanny-e-bruno">Natanny e Bruno</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-natanny-e-bruno">10.05.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-dailaine-e-fernando"><img
							src="[template]/images/confirmacao-presenca/confirmacao-dailaine-e-fernando.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dailaine-e-fernando">Dailaine e
						Fernando</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dailaine-e-fernando">03.05.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-vitoria"><img
							src="[template]/images/confirmacao-presenca/confirmacao-vitoria.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vitoria">Vitória</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vitoria">29.03.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-camila-e-everton"><img
							src="[template]/images/confirmacao-presenca/confirmacao-camila-e-everton.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-camila-e-everton">Camila e Everton</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-camila-e-everton">15.03.2014</a></div>

			</div>

			<!-- galeria rspv -->

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-alexandre-e-sueli"><img
							src="[template]/images/confirmacao-presenca/confirmacao-alexandres-e-sueli.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-alexandre-e-sueli">Alexandre e sueli</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-alexandre-e-sueli">01.03.2014</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-rafael-e-allyne"><img
							src="[template]/images/confirmacao-presenca/confirmacao-rafael-e-allyne.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-rafael-e-allyne">Rafael e Allyne</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-rafael-e-allyne">22.02.2014</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-debora-e-daniel"><img
							src="[template]/images/confirmacao-presenca/confirmacao-debora-e-daniel.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-debora-e-daniel">Daniel e Debora</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-debora-e-daniel">08.02.2014</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-de-alexandre-e-luciene"><img
							src="[template]/images/confirmacao-presenca/confirmacao-alexandre-e-luciene.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-de-alexandre-e-luciene">Alexandre e
						Luciene</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-de-alexandre-e-luciene">21.12.2013</a>
				</div>

			</div>



			<!-- galeria rspv -->

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-leandro-e-giuliana"><img
							src="[template]/images/confirmacao-presenca/confirmacao-leandro-e-giuliana.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-leandro-e-giuliana">Casal Leandro e
						Giuliana</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-leandro-e-giuliana">14.12.13</a></div>

			</div>



			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marcela-e-julio"><img
							src="[template]/images/confirmacao-presenca/confirmacao-marcela-e-julio.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcela-e-julio">Marcela e Julio</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcela-e-julio">16.11.2013</a></div>

			</div>



			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-bruna-e-alex"><img
							src="[template]/images/confirmacao-presenca/confirmacao-bruna-e-alex.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-bruna-e-alex">Bruna e Alex</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-bruna-e-alex">08.11.2013</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-fabiana-e-alessandro"><img
							src="[template]/images/confirmacao-presenca/confirmacao-fabiana-e-alessandro.jpg"
							width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fabiana-e-alessandro">Casal Fabiana e
						Alessandro</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-otavio">21.09.2013</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-cristiane-e-otavio"><img
							src="[template]/images/confirmacao-presenca/confirmacao-cristiane-e-otavio.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-otavio">Casal Cristiane e
						Otávio</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-otavio">20.07.2013</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-giziele-e-vagner"><img
							src="[template]/images/confirmacao-presenca/confirmacao-giziele-e-vagner.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-giziele-e-vagner">Casal Giziele e
						Vagner</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-giziele-e-vagner">22.06.2013</a></div>

			</div>

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-carolina-e-artur"><img
							src="[template]/images/confirmacao-presenca/confirmacao-carolina-e-artur.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carolina-e-artur">Casal Carolina e
						Artur</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carolina-e-artur">08.06.13</a></div>

			</div>



			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marcos-e-vanessa"><img
							src="[template]/images/confirmacao-presenca/confirmacao-marcos-e-vanessa.jpg" width="280"
							height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcos-e-vanessa">Casal Marcos e
						Vanessa</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcos-e-vanessa">11.05.13</a></div>

			</div>



			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-denise-e-agnaldo"><img
							src="[template]/images/confirmacao-presenca/casal013.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-denise-e-agnaldo">Casal Denise e
						Agnaldo</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-denise-e-agnaldo">08.12.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-renata-e-hugo"><img
							src="[template]/images/confirmacao-presenca/casal014.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-renata-e-hugo">Casal Renata e Hugo</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-renata-e-hugo">01.12.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-cristiane-e-rafael"><img
							src="[template]/images/confirmacao-presenca/casal012.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-rafael">Casal Cristiane e
						Rafael</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-cristiane-e-rafael">24.11.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-vanessa-e-rony"><img
							src="[template]/images/confirmacao-presenca/casal011.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vanessa-e-rony">Casal Vanessa e Rony</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-vanessa-e-rony">20.10.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-claudia-e-gabriel"><img
							src="[template]/images/confirmacao-presenca/casal010.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-claudia-e-gabriel">Casal Claudia e
						Gabriel</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-claudia-e-gabriel">19.10.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-elaine-e-wagner"><img
							src="[template]/images/confirmacao-presenca/casal009.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-elaine-e-wagner">Casal Elaine e
						Wagner</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-elaine-e-wagner">29.09.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-simone-e-mauricio"><img
							src="[template]/images/confirmacao-presenca/casal008.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-simone-e-mauricio">Casal Simone e
						Mauricio</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-simone-e-mauricio">15.09.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-taissa-e-milton"><img
							src="[template]/images/confirmacao-presenca/casal007.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-taissa-e-milton">Casal Taissa e
						Milton</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-taissa-e-milton">04.08.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-dayane-e-anderson"><img
							src="[template]/images/confirmacao-presenca/casal006.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dayane-e-anderson">Casal Dayane e
						Anderson</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-dayane-e-anderson">28.04.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-debora-e-cicero"><img
							src="[template]/images/confirmacao-presenca/casal005.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-debora-e-cicero">Casal Debora e
						Cicero</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-debora-e-cicero">24.03.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-marcia-e-rafael"><img
							src="[template]/images/confirmacao-presenca/casal004.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcia-e-rafael">Casal M&aacute;rcia e
						Rafael</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-marcia-e-rafael">07.01.2012</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-carol-e-tiago"><img
							src="[template]/images/confirmacao-presenca/casal003.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carol-e-tiago">Casal Carol e Tiago</a>
				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-carol-e-tiago">12.11.2011</a></div>

			</div>

			<!-- galeria rspv -->

			<div class="galeria-rspv">

				<div class="foto-rsvp">

					<a href="[url]/confirmacao-de-presenca-fabiana-e-antonio"><img
							src="[template]/images/confirmacao-presenca/casal001.jpg" width="280" height="180" /></a>

				</div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fabiana-e-antonio">Casal Fabiana e
						Antonio</a></div>

				<div class="texto-rsvp"><a href="[url]/confirmacao-de-presenca-fabiana-e-antonio">06.08.2011</a></div>

			</div>

			<!-- galeria rspv -->



			<div class="clear"></div>

		</div>

		<!-- linha rsvp -->



		<div class="clear"></div>

	</div>

	<!-- rsvp total -->



	<div class="clear"></div>

</div>

<!-- global all pages -->



</div>

<!-- galeria rspv -->



<div class="clear"></div>

</div>

<!-- linha rsvp -->



<div class="clear"></div>

</div>

<!-- rsvp total -->



<div class="clear"></div>

</div>

<!-- global all pages -->