

*{
    font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	margin:0;
    padding:0;
}

/* PÁGINA DE ERRO 404 - NÃO MECHER */

#erro-total{
	width:700px;
	height:270px;
	margin:15px 0;
}

#imagem-centralizada{
	width:100%;
	text-align:center;
	margin:10px 0;
}

#texto-404{
	width:100%;
	font-family:Calibri;
	font-size:22px;
	text-align:center;
}

#aguarde{
	width:100%;
	font-family:Calibri;
	font-size:19px;
	text-align:center;
	margin:5px 0;
}

/* #####################FINAL###################### */

/* all pages */

a
{
	text-decoration:none;
}

.esquerda, .esquerdo, .left, .float-left, .alignleft
{
	float: left;
	display: table;
	margin: 0px 10px 10px 0px;
}

.direita, .direito, .right, .float-right, .alignright
{
	float: right;
	display: table;
	margin: 0px 0px 10px 10px;
}

.meio, .center, .aligncenter
{
	display: table;
	margin: 20px auto;
}

.borda
{
	padding: 2px;
	background: #fff;
	box-shadow: 0px 0px 2px 0px #666;
}

.global
{
	margin: 0 auto;
}

.conteudo-pages
{
	min-height: 500px;
	width: 998px;
	margin: 0 auto;
}

.conteudo-pages {
	padding: 40px 0px;
}
.conteudo-pages p {
	margin-bottom: 20px;
	font:15px/25px "Calibri";
	color:#000;
	text-align:justify;
}
.conteudo-pages h1 {
	font:25px "Calibri";
	margin-bottom:15px;
	font-weight:bold;
	color:#000;
}
.conteudo-pages h2 {
	font:20px "Calibri";
	margin-bottom:15px;
	font-weight:bold;
	color:#000;
}
.conteudo-pages h3 {
	font:20px "Calibri";
	margin-bottom:15px;
	font-weight:bold;
	color:#000;
}

.slick-track
{
	max-width: none;
}


.slider .slick-prev
{
	left: 45px !important;
}

.slider .slick-next
{
	right: 45px !important;
}

.slider img {
  max-width: 100%;
}

.slider2 .slick-active
{
	opacity: 0.6 !important;
}

.slider2 .slick-center
{
	opacity: 1 !important;
}

.slider2 .slick-slide {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  opacity: 0.0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -os-transition: all 0.3s;
}


.slider2 .slick-prev {
  right: 50px;
  left: initial;
	top: 0px;
}

.slider2 .slick-next {
	top: 0px;
	right: 0px;
}

.menu-resp
{
	display: none;
}
.contato
{
	
}

.contato input
{
	width: 100%;
	padding: 10px 20px;
	background: #eee;
	border: #ccc;
	color: #666;
	box-sizing:border-box;
	margin-bottom: 10px;
	outline: none !important;
}

.contato textarea
{
	width: 100%;
	padding: 10px 20px;
	background: #eee;
	border: #ccc;
	color: #666;
	box-sizing:border-box;
	margin-bottom: 10px;
	outline: none !important;
	resize: none;
	height: 200px;
}

.contato .submit
{
    cursor: pointer;
    background: #016086;
    color: #fff;
}
@media only screen
and (max-width:998px)
{
	*
	{
		max-width: 100%;
		box-sizing:border-box;
	}
	.conteudo-pages
	{
		padding: 2%;
	}
	.topo .menu-total
	{
		display: block;
		width: 100%;
	}
	.menu-resp, .topo .menu
	{
		width: 100%;
	}
	.menu-resp
	{
		display: block;
		background: url('images/menu-resp.png') center no-repeat;
		padding: 40px;
		cursor: pointer;
	}
	.menu
	{
		display: none;
	}
	.menu li
	{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		text-align:center;
	}
		.rodape div
	{
		width: 100%;
		margin: 20px 0px;
		text-align:center;
	}
}