

.box-01 {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.5s;
}

.box-01:hover {}

.box-01 > div {
    margin: 40px 0px;
}

.box-01 .conteudo {
    width: 580px;
}

.box-01 .conteudo .titulo {
    font: 45px 'calibri';
    color: #313131;
}

.box-01 .conteudo .titulo::first-line {
    color: #313131;
}

.box-01 .conteudo .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-01 .conteudo .linha .barra {
    width: 80px;
    transition: all linear 0.8s 0.55s;
    height: 100%;
    background: #58c3b8;
    position: relative;
}

.box-01-total:hover .conteudo .linha .barra {
    width: 100%;
    transition: all linear 0.5s;
}

.box-01 .conteudo .texto {
    font: 20px/25px 'calibri';
    text-shadow: 0px 0px 1px #eee;
    color: #333;
    margin: 20px 0px;
}


@media only screen and (max-width:1200px) {
    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    .linha-total *,
    .topo-total *,
    .conteudo-pages,
    .conteudo-pages *,
    .box-02-total *,
    .mapa *,
    .rodape-total * {
        max-width: 100%;
    }

    .swiper-container img {
        max-width: auto;
    }

    .swiper-container {
        height: 0;
        transition: all 0.5s;
    }

    .conteudo-pages {
        padding: 2%;
    }

    .topo > div {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .menu-resp {
        display: block;
        background: url('../images/menu-resp.png') center no-repeat;
        padding: 20px;
        cursor: pointer;
    }

    .rodape div {
        width: 100%;
        margin: 20px 0px;
        text-align: center;
    }

    .menu li .ativo::before {
        display: none;
    }

    .menu li a {
        padding-top: 3px !important;
    }
}

@media only screen and (max-width:980px) {
    .box-03 .item {
        width: 100%;
    }

    .box-03 {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .menu li a {
        padding: 0 10px 10px;
    }

    .linha .item:last-child {
        font-size: 13px;
    }

    .linha-total .linha {
        justify-content: center;

    }

    .menu li a {
        color: #fff;
    }

    .menu li:last-child {
        width: 100%;
    }

    .menu li {
        width: 50%;
        padding: 10px;
        background: #036;
        border: 1px solid#fff;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .linha .item {

        margin: 5px;
    }

    div#wowslider-container1 {
        display: none;
    }

    .box-01 .conteudo .titulo {
        font: 35px 'calibri';
        text-align: center;
    }

    .box-01 .conteudo .entrar {

        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .rodape .item i {

        margin: 0px 10px;
    }

    .rodape .item {
        justify-content: center;
    }
}
 