/* Blog */

section.blogBody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-blog {
    width: 1200px;
    margin: 20px auto;
    min-height: 500px;
    padding: 10px;
}

.titulo-total h1 {
    font-size: 35px;
    color: #444;
    font-family: "Fjalla One", sans-serif;
    padding: 15px 0;
    text-transform: uppercase;
}

.titulo-total h1::after {content: ' ';width: 100px;height: 5px;background: #444;display: block;}

.page-blog {
}

.img-thumb {
    display: flex;
    width: 240px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    overflow: hidden;
}

.posts-blog .post .img-thumb img {
    width: auto;
    height: 100% !important;
    border-radius: 7px;
}

.post {
    width: 100%;
    margin: 0px 0px 40px;
    transition: 0.5s;
    box-shadow: -6px -6px 0px 0px #2f86c6;
    border: 1px solid #ddd;
}

.post:hover {
    box-shadow: 6px 6px 0px 0px #2f86c6;
}

.text span {
    color: chocolate;
}

.posts-blog {width: 790px;}

.posts-blog .post a {
    display: flex;
    text-decoration: none !important;
    padding: 15px 10px;
    font-size: 19px;
    font-family: calibri;
    align-items: center;
}

.posts-blog .post a.read-more {
    float: right;
    background: #2e2aaf;
    padding: 10px;
    color: #fff;
    margin-top: 50px;
}

.posts-blog .post a.read-more:hover {
    background: #4844d0;
}

.titulo.categoria h1 {
    width: 1200px;
    margin: 40px auto;
    font-size: 25px;
    font-family: calibri;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 300;
}

.titulo.categoria h1 span {
    font-size: 25px;
    font-family: calibri;
    color: #33a7de;
    text-transform: uppercase;
    font-weight: bold;
}

.categorias {
    width: 350px;
    /* background: #f7f7f7; */
    box-sizing: border-box;
    /* box-shadow: 0px 1px 10px 0px #ddd; */
}

.titulo-total {
    width: 100%;
}

.box-categorias {
    box-shadow: 1px 1px 4px 1px #ddd;
}

.text {
    width: 70%;
}

.text h4 {
    font-size: 25px;
    font-family: calibri;
    color: #444;
}

.text p {
    font-size: 18px;
    font-family: calibri;
    text-align: left;
    padding: 10px 0;
    color: #333;
}

.box-categorias .titulo h2 {
    color: #fff;
    font-size: 20px;
}

.titulo-categoria h2 {
    font-size: 28px;
    padding: 5px;
    text-align: center;
    background: #f1bb18;
    color: #fff;
    text-shadow: 0px 0px 1px #929292;
}

.item-categoria {
    padding: 20px;
    border: 1px solid #e6e6e6;
}

.item-categoria li {
    list-style: none;
    font-size: 22px;
    padding: 8px 0;
    color: #333;
}

.item-categoria li i {
    font-size: 20px;
    padding-right: 5px;
}

.item-categoria li:hover {
    text-decoration: underline;
}

.infos-post {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin: 40px 0 30px;
}

.infos-post .info {
    font-size: 15px;
    font-family: calibri;
    text-transform: uppercase;
}

.texto h6 {
    font-family: calibri;
    font-weight: normal;
    padding: 3px 0;
    font-size: 16px;
}

.texto h6 a {
    text-decoration: underline;
    color: red;
}

.texto h6 strong {
    font-family: calibri;
    font-size: 17px;
}

/* Fim Blog */ 