* { margin: 0; padding: 0; color: inherit; }
a { cursor: pointer; display: block; text-decoration: none; }
ul { list-style: none outside none; }
img { border: 0 none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
h1, h2, h3, h4, h5 { font-weight: normal; }
select, input[type='text'], textarea { -webkit-appearance: none; }
input, textarea, select { border-radius: 0; box-shadow: none; outline: 0; }
html { width: 100%; height:100%; overflow:visible;}
ul li { list-style: none; }
a, a:hover, a:focus { text-decoration: none; outline: none; }
button:focus { outline: none; }

@import "../js/libs/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../js/libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "font";
@import "animate";
/* */
$black: #000000; 
$white: #ffffff; 
$gray_clear: #c8c8c8;
$gray: #202020;
$yellow: #ffac4f;
$bg: #f2f2f2;
/* */
$font-black: 'montserratblack';
$font-bold: 'montserratbold';
$font-extrabold: 'montserratextrabold';
$font-extralight: 'montserratextralight';
$font-italic: 'montserratitalic';
$font-light: 'montserratlight';
$font-light_italic: 'montserratlight_italic';
$font-medium: 'montserratmedium';
$font-regular: 'montserratregular';
$font-semibold: 'montserratsemibold';
$font-thin: 'montserratthin';

$fontL: 'open_sanslight';
$font: 'open_sansregular';
$fontB: 'open_sansbold';
$fontM: 'open_sanssemibold';
/* */
body {width:100%; height:100%; display:inline-block; font-family: $fontL; font-weight: lighter; color: $black; padding: 0px; margin: 0px; font-size: 14px; line-height:18px; -webkit-font-smoothing: antialiased;}
button:focus { outline: none; }
.relativefull { position: relative; float:left; width: 100%; }
.relativeRight { position: relative; float:right; }
.relativeLeft { position: relative; float:left; }
.relativeInline { position: relative; display: inline-block; }
.relativeAuto { position: relative; margin: 0 auto !important; clear: both;}
.fixedfullTop { position: fixed; top:0; left:0; float:left; width: 100%; }
/* */
.middle{@extend .relativeAuto; width:100%; max-width:1264px; padding:0 30px; overflow:hidden;}
.middle02{@extend .relativeAuto; width:100%; max-width:1264px; padding:0 30px; overflow:visible;}
/**/
body{background:url('../images/bg-espuma.jpg') $white no-repeat top center; background-size: 100% 596px;}
body.dark{background:url('../images/bg-espuma-dark.jpg') $black no-repeat top center; background-size: 100% 444px;}
.header{@extend .relativefull; background:none; z-index:999; 
	.logo{@extend .relativeLeft; vertical-align:top; max-width:165px;
		img{@extend .relativeInline; vertical-align:middle; max-width:100%;}
	}
	.btn-menu{@extend .relativeRight; color:$gray; font-size:40px; padding:15px 15px; margin:15px 0 0 0; background:transparent; border:0; display:none;}
	.menu{@extend .relativeRight; width:calc(100% - 165px);
		.menu-list{@extend .relativefull; margin:0; padding:35px 0 0 0; text-align:right;
			li{@extend .relativeInline; margin:0 30px; border-bottom: solid 3px $gray_clear; height:53px; line-height:53px;
				a{@extend .relativeInline; vertical-align:middle; text-align:center; font-size:16px; line-height:20px; color:$black; font-family:$font-bold; padding-bottom:8px; text-transform:uppercase;}
			}
			li:nth-child(2), li:nth-child(5){
				a{max-width:125px;}
			}
			li:nth-child(3){
				a{max-width:80px;}
			}
			li:nth-child(1), li:nth-child(4){
				a{max-width:70px;}
			}
			li:hover{border-color:$yellow;
				a:hover{text-decoration:none;}
			}
			li.active{border-color:$yellow;}
		}
	}
}
/* */
.owl-stage-outer, .owl-stage, .owl-item { @extend .relativefull; height:100%;}
.owl-stage-outer { overflow: hidden; z-index: 3;}
.owl-dots { @extend .relativefull; padding: 10px 0; text-align: center; margin-top:30px;
	.owl-dot { @extend .relativeInline; width: 15px; height: 15px; background: none; font-size: 0; margin: 0 6px; border:solid 2px $white; border-radius: 50%; overflow: hidden; cursor: pointer; }
	.owl-dot.active, .owl-dot:hover { background: $white; }
}
.owl-nav.disabled, .owl-dots.disabled{ display: none; }
.owl-nav { display: block; width: 100%; overflow: visible; z-index: 99; height:100%;
	.owl-prev{display:block; opacity:1.0; background:url('../images/arrow-left.png') no-repeat center left; width:57px; height:90px; top:calc(50% - 75px); left:0; position:absolute; z-index:99; font-size:0;}
	.owl-next{display:block; opacity:1.0; background:url('../images/arrow-right.png') no-repeat center right; width:57px; height:90px; top:calc(50% - 75px); right:0; position:absolute; z-index:99; font-size:0;}
}
.owl-item{ height:100%; width:100%;}
/**/
.title-h1{@extend .relativefull; font-size:80px; line-height:84px; font-family:$font-bold; color:$white; margin:60px 0 75px 0; text-align:center;}		
.title-h2{@extend .relativefull; font-size:80px; line-height:84px; font-family:$font-extralight; color:$black; margin:0 0 30px 0; text-align:left;
	strong{font-family:$font-medium;}
}

.title-h3{@extend .relativefull; font-size:26px; line-height:30px; font-family:$font-medium; color:$black; margin:0 0 10px 0; text-align:left;}
.content{@extend .relativefull; padding:60px 0; overflow:hidden;}
.text{@extend .relativefull; font-size:15px; color:$black; line-height:20px; font-family:$font;
	strong, b{font-family:$fontM;}
	a{text-decoration:underline;}
	a:hover{color:$yellow;}
	ul{@extend .relativefull; margin:30px 0; padding: 0;
		li{@extend .relativefull; font-size:20px; line-height:30px; }
		li:before{content: "•"; font-size:18px; color:$gray; @extend .relativeInline; line-height:30px; margin-right:10px;}
	}
	p{@extend .relativefull; margin-bottom:30px;}
}

.slide{padding:0;
	.slide-list{@extend .relativefull; margin: 0 0 30px 0;
		.item{@extend .relativefull; text-align:center;
			img{@extend .relativeInline; vertical-align:top; max-width:100%;}
		}
	}
}
.cervejeiros{
	.description{@extend .relativefull; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; min-height:300px; margin-bottom:100px;
		.title-h2{display:inline-block; float:none; vertical-align:middle; text-align:right; margin:0;
			strong{color:$yellow;}
		}
	}
	.video{@extend .relativefull; margin-bottom:100px;
		iframe{@extend .relativefull; max-width:100%;}
	}
}
.style{background:$black; padding-bottom:100px;
	.title-h2{color:$white; text-align:center; margin:20px 0 65px 0;
		span{@extend .relativefull;}
	}
	.item{@extend .relativefull; background:$gray; margin:15px 0; overflow:hidden; /*display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;*/
		.image{@extend .relativeLeft; width:52%;
			img{@extend .relativeInline; vertical-align:top; max-width:100%;}
		}
		.description{@extend .relativeInline; width:48%; vertical-align:middle; padding: 15px 15px;
			.text{color:$white; text-align:left;
				a{color:$white; text-decoration:none;}
			}
			.title-h3{color:$white; font-family:$font-bold; text-align:left;
				a{color:$white; text-decoration:none;}
			} 
			a{color:$white; text-decoration:none;}
		}
	}
	.col-md-6, .col-sm-12, .col-xs-12{vertical-align:top; float:none; display:inline-block; margin:0 -2px;}
}
.internal-style.style{ background:transparent;
	.item{padding:35px 35px 0 35px;
		.image{ float:right; max-width:46%; width:235px; margin-bottom:20px;}
		.title-h2{font-size:34px; line-height:38px; font-family:$font-bold; text-align:left; margin:10px 0 25px 0; text-align:left;
			span{@extend .relativefull; font-size:20px; line-height:24px; text-align:left; font-family:$font-medium; text-align:left;}
		}
		.title-h3{font-size:24px; line-height:28px; color:$yellow; font-family:$font-medium; max-width:125px; text-align:left;}
		.description{width:100%; max-width:54%; float:left; margin-bottom:20px; padding:0 15px 0 0; text-align:left;
			p{color:$white;}
		}
		.text{color:$white; text-align:left;
			.title-h4{@extend .relativefull; font-size:20px; line-height:24px; color:$white; font-family:$font-bold; margin:0 0 15px 0; text-align:left;}
		}
		.products{@extend .relativefull; width:calc(100% + 70px); margin: 35px -35px 0 -35px; padding:35px 20px; background:$white; text-align:center;
			.image{@extend .relativefull; text-align:center; max-width:100%; width:100%;
				img{@extend .relativeInline; vertical-align:top;}
			}
			.btn{@extend .relativeInline; vertical-align:top; height:47px; line-height:43px; border: solid 2px $gray; border-radius:25px 25px; max-width:100%; text-align:center; color:$gray; font-size:16px; font-family:$font-bold; padding:0 20px; margin: 0; overflow:hidden;}
			.btn:hover{color:$white; background:$gray;}
		}
	}
}
.tap-house:before{content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba($black,0.5);}
.tap-house{background:url('../images/bg-taphouse.jpg') no-repeat center; background-size:cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; padding:120px 0; min-height:810px;
	.image{@extend .relativeInline; width:100%; vertical-align:middle; text-align:right;
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
	}
	.description{@extend .relativeInline; width:100%; vertical-align:middle; 
		.title-h2{color:$white; font-size:140px; font-family:$font-bold; line-height:140px; text-align:left; margin-top:60px;} 
		.title-h3{color:$white; font-size:46px; line-height:50px; font-family:$font-extralight; text-align:left;}
		.btn{@extend .relativeLeft; height:74px; line-height:70px; border: solid 2px $white; border-radius:35px 35px; min-width:350px; max-width:100%; text-align:center; color:$white; font-size:24px; font-family:$font-bold; padding:0; margin:120px 0 0 0; overflow:hidden;}
		.btn:hover{border-color:$yellow; color:$yellow; background:rgba($black,0.8);}
	}
}
.style-craft{ overflow:hidden; padding-bottom:120px;
	.title-h2{font-size:60px; line-height:64px; text-align:center; margin: 40px 0 80px 0;}
	.slide-style-craft{@extend .relativefull; margin:0;
		.owl-item{padding:0 6px;
			.image{@extend .relativefull; overflow:hidden;
				a{@extend .relativefull;}
				img{width:100%; transition: all .5s linear;}
			}
			.title-h3{color:$black; font-size:26px; line-height:30px; text-align:center; font-family:$font-medium; margin: 15px 0;
				a{color:$black; text-decoration:none;}
			}
		}
		.owl-item:hover{
			.image img{ -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02);}
			.title-h3 a{color:$yellow;}
		}
	}
}
.box-middle{@extend .relativefull; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; }
.interna-cervejeiros{ padding-top:0;
	.video{@extend .relativeInline; vertical-align:middle; width:100%; margin-bottom:30px;
		iframe{@extend .relativefull; max-width:100%;}
	}
	.text{display:inline-block; float:none; vertical-align:middle; font-size:18px; line-height:24px; font-family:$font;}
	.title-h2{text-align:center; margin:90px 0 60px 0;
		strong{@extend .relativefull; color:$yellow;}
	}
	.image{@extend .relativefull; text-align:center; margin-bottom:40px;
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
	}
	.center{text-align:center;}
}
.master{padding:0; z-index:3;
	.image-master{@extend .relativefull; margin-top:60px;
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
	}
	.box-black{@extend .relativefull; background:$black; padding:45px 0 60px 45px; margin-left:-15px;
		.title-h2{color:$white;
			strong{color:$yellow;}
		}
		.text{color:$white;}
		.text{font-size:18px; line-height:24px; font-family:$fontM;}
	
	}
}
.master:before{content:""; position:absolute; top:0; right:0; width:50%; height:100%; background:$black;}
.seal{background:$yellow; margin-top:-70px; padding-top:130px; z-index:2;
	.right{float:right;}
	.title-h2{font-size:40px; line-height:44px; margin-bottom:60px;}
	.image{@extend .relativefull; margin:0 0 50px 0; text-align:center;
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
	}
	.text{line-height:24px; font-size:16px;
		.title-h3{font-size:20px; line-height:24px; font-family:$font-bold; margin-bottom:15px;}
	}
}
.tag{background:$white; padding:85px 0;
	.title-h2{text-align:center; font-size:50px; line-height:65px; margin:15px 0;
		strong{@extend .relativefull; color:$yellow; font-size:65px;}
		a{text-decoration:none; color:inherit;}
	}
}
.maps{padding-top:0;
	.map{@extend .relativefull; height:480px; overflow:hidden;}
}
.cervejas-forasteiras{background:$black;
	.title-h2{color:$yellow; text-align:center; font-size:70px; line-height:74px; margin: 60px 0;}
	.title-h3{color:$white; font-size:36px; line-height:40px; font-family:$font-bold; text-transform:uppercase; margin: 0 0 15px 0;}
	.title-h4{color:$white; font-size:20px; line-height:24px; font-family:$font-bold; text-transform:uppercase; margin: 0 0 15px 0;}
	.list{@extend .relativefull; margin:0 0 45px 0;
		li{@extend .relativefull; margin:5px 0; font-size:18px; line-height:24px; font-family:$font-regular; color:$white; 
			a{@extend .relativefull; color:$white;}
			a:hover{color:$yellow;} 
		}
	}
}
.tap-house-internal{background:transparent;
	.title-h2{font-size:60px; line-height:64px; color:$white; text-align:center; margin:30px 0;}
	.text-big{@extend .relativefull; margin:0; border-bottom:solid 2px $gray_clear; padding-bottom:30px; list-style:disc; text-align:center; font-family:$font-bold; color:$white; font-size:40px; line-height:44px;
		li{@extend .relativeInline; margin: 0 30px; list-style:disc;}
	}
	.title-h3{ margin:30px 0; font-size:40px; line-height:44px; color:$yellow; text-align:center; font-family:$font-medium;}
	.selo-tap{position:absolute; top:0; right:15px; width:190px; height:240px; z-index:99;
		img{@extend .relativeInline; max-width:100%; max-height:100%;}
	}
	.galeria-image{@extend .relativefull; margin:100px 0 0 0; text-align:center; background:$black;
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
		iframe{@extend .relativeInline; vertical-align:top; width:100%;}
	}
	.owl-thumbs{@extend .relativefull; margin:0 0 60px 0; text-align:left;
		.owl-thumb-item{@extend .relativeInline; vertical-align:top; width:calc(16.6% - 5px); overflow:hidden; margin:5px 5px 0 0; border:0; padding:0;
			img{@extend .relativeInline; vertical-align:top; max-width:100%;}
		}
		.owl-thumb-item:after{content:""; opacity:1.0; position:absolute; top:0; right:0; width:100%; height:100%; background:rgba($black,0.6);}
		.owl-thumb-item.active:after{opacity:0;}
	}
	.title-h5{@extend .relativefull; font-size:30px; line-height:34px; color:$white; font-family:$font-regular; text-align:center; margin:30px 0;}
}
.footer{@extend .relativefull; background:$yellow; border-top:solid 3px $black; overflow:visible;
	.logo{@extend .relativeLeft; vertical-align:top; max-width:165px; margin-top:-16px;
		img{@extend .relativeInline; vertical-align:middle; max-width:100%;}
	}
	.menu{@extend .relativeRight; width:calc(100% - 165px);
		.menu-list{@extend .relativefull; margin:0; padding:35px 0 0 0; text-align:right;
			li{@extend .relativeInline; margin:0 15px; line-height:40px;
				a{@extend .relativeInline; vertical-align:middle; text-align:center; font-size:14px; line-height:20px; color:$black; font-family:$font-bold; padding-bottom:8px; text-transform:uppercase;}
			}
		}
		.social{@extend .relativefull; text-align:center; margin:30px 0;
			.item{@extend .relativeInline; vertical-align:top; margin:0 10px; width:auto; height:auto;
				img{@extend .relativeInline; vertical-align:top;}
			}
			.item:hover{opacity:0.8;}
		}
	}
}
.modal{
	.modal-body{padding:30px 30px;}
	.title-h2{font-size:36px; line-height:40px; color:$yellow; font-family:$font-regular;}
	.image{@extend .relativeInline; vertical-align:middle; margin:3px 3px; width:calc(50% - 8px);
		img{@extend .relativeInline; vertical-align:top; max-width:100%;}
	}
	.image.full{width:100%; margin:0;}
	.text{
		p{margin-bottom:0;}
		strong{font-family:$fontM; margin-top:30px; width:100%; display:inline-block;}
	}
	form{@extend .relativefull; border-top:solid 2px $bg; margin-top:30px;
		.text{margin-bottom:30px;}
	}
	input{@extend .relativefull; height:40px; line-height:40px; padding-left:15px; border:solid 1px $gray_clear; background:$bg; border-radius:3px; margin-bottom:15px;}
	label{@extend .relativefull; font-size:14px; line-height:18px; color:$gray; line-height:40px; margin-bottom:15px;}
	.btn-enviar{@extend .relativeLeft; height:40px; line-height:40px; border:0; background:$yellow; color:$white; font-family:$fontM; font-size:14px; border-radius:20px 20px; padding:0 30px;}
	.btn-enviar:hover{text-decoration:none; background:$gray_clear; color:$gray;}
	.right{float:right;}
}
@media (min-width: 960px){
	.modal-dialog {
	    width: 850px;
	}
}
/* */
@media (max-width:1220px){
	.cervejeiros{
		.description{
			.title-h2{font-size:60px; line-height:64px;}
		}
	}
	.footer{
		.menu{
			.menu-list{
				li{margin:0 7px;}
			}
		}
	}
}
@media (max-width:1096px){
	body, body.dark{background-size:auto;}
	.title-h1{font-size:50px; line-height:54px;}
	.title-h2{font-size:40px; line-height:44px;}
	.header{
		.btn-menu{display:block;}
		.menu{position:fixed; top:0; right:0; width:100%; max-width:100%; height:100%; overflow:auto; background:rgba($white, 0.9); text-align:center; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;
			.btn-menu{position:absolute; top:0; right:33px;}
			.menu-list{width:300px; margin:0 auto 0; max-width:100%; float:none; display:inline-block; vertical-align:middle;
				li{width:100%; margin:0;
					a{max-width:100%; width:100%; text-align:center; border:0;}
				}
				li:nth-child(2), li:nth-child(5){
					a{max-width:100%;}
				}
				li:nth-child(3){
					a{max-width:100%;}
				}
				li:nth-child(1), li:nth-child(4){
					a{max-width:100%;}
				}
			}
		}
		.menu, .menu.collapse{display:none !important;}
		.menu.in{display:flex !important;}
	}
}
@media (max-width:991px){
	.ipad-block{display:inline-block;}
	.ipad-none{display:none;}
	.style{
		.item{padding:15px 15px;
			.description, .image{width:100% !important; max-width:100%;}
			.image{
				img{width:100%;}
			}
		}
	}
	.internal-style.style{
		.item{padding:15px 15px 0 15px;
			.title-h2{font-size:30px; line-height:34px;}
			.description, .image{width:100% !important; max-width:100%;}
			.products{margin:30px -15px 0 -15px; width:calc(100% + 30px); padding:15px 0;
				.image{
					img{width: auto;}
				}
			}
		}
	}
	.tap-house{
		.description{
			.title-h2{font-size:80px; line-height:84px; margin-top:90px;}
			.title-h3{font-size:30px; line-height:34px;}
			.btn{height:auto; line-height:50px; font-size:18px; margin-top:30px; max-width:100%;}
		}
	}
	.cervejeiros{
		.description{
			.title-h2{font-size:40px; line-height:44px;}
		}
	}
	.style-craft{
		.title-h2{font-size:40px; line-height:44px;}
		.slide-style-craft{
			.owl-item .title-h3{font-size:20px; line-height:20px;}
		}
	}
	.tag{
		.title-h2{font-size:40px; line-height:44px;
			strong{font-size:40px;}
		}
	}
	.box-middle{display:inline-block; margin:0; width:100%;}
	.internal-style.style{
		.item{
			.products{
				.btn{margin-bottom:30px;}
			}
		}
	}
	.cervejas-forasteiras{
		.title-h2{font-size:40px; line-height:44px;}
		.title-h3{font-size:26px; line-height:30px;}
	}
}
/* */
@media (max-width:767px){
	.mobile-block{display:inline-block;}
	.mobile-none{display:none;}
	.slide{
		.slide-list{
			.item{padding:0 15px;}
		}
	}
	.cervejeiros{
		.description{min-height:0; margin-bottom:45px;
			.title-h2{text-align:center;}
		}
		.video{margin-bottom:0;}
	}
	.style{ text-align:center;
		.title-h2{margin-bottom:30px;}
		.item{max-width: 300px; display: inline-block; float: none; vertical-align: top;}
	}
	.tap-house{min-height:0; padding:60px 0;
		.description{
			.title-h2{margin:0 0 30px 0; font-size:40px; line-height:44px; text-align:center;}
			.title-h3{text-align:center; font-size:26px; line-height:30px;}
			.btn{margin-bottom:30px; min-width:100%;}
		}
		.image{text-align:center;
			img{width:300px; max-width:100%;}
		}
	}
	.style-craft{
		.title-h2{margin:0 0 30px 0; font-size:30px; line-height:34px;}
	}
	.interna-cervejeiros{
		.title-h2{margin: 0 0 30px 0;}
		.middle{padding:0 15px;}
	}
	.master:before{display:none;}
	.master{ background:$black;
		.image-master{margin-top:0;}
		.box-black{padding: 30px 0 0 0; width:100%; margin-left:0;}
	}
	.seal{
		.title-h2{margin-bottom:30px; font-size:30px; line-height:34px;}
	}
	.tag{
		.title-h2{font-size:30px; line-height:34px;
			strong{font-size:30px;}
		}
	}
	.cervejas-forasteiras{
		.title-h2{margin:30px 0;}
		.title-h3{font-size:20px; line-height:24px;}
	}
	.tap-house-internal{
		.title-h2{font-size:40px; line-height:44px;}
		.text-big{font-size:30px; line-height:34px;}
		.title-h3{font-size:30px; line-height:34px;}
		.owl-thumbs{
			.owl-thumb-item{width:calc(25% - 5px);}
		}
		.selo-tap{position:relative; right:0; width:100%; text-align:center; height:auto;
			img{max-height:150px;}
		}
		.galeria-image{margin-top:30px;}
	}
	.footer{text-align:center;
		.logo{float:none; display:inline-block;}
		.menu{width:100%;
			.menu-list{
				li{width:100%;
					a{width:100%; text-align:center;}
				}
			}
		}
	}
	.modal{
		label{line-height:20px;}
		.title-h2{font-size:26px; line-height:30px;}
	}
}
/* */
@media (max-width:425px){
	.title-h1{font-size:40px; line-height:44px; margin:45px 0;}
	.title-h2{font-size:30px; line-height:34px;}
	.title-h3{font-size:20px; line-height:24px;}
	.content{padding:45px 0;}
	.slide{padding:0;}
	.internal-style.style{padding-top:0;}
	.cervejeiros{
		.description{
			.title-h2{font-size:30px; line-height:34px;}
		}
	}
	.interna-cervejeiros, .maps{padding-top:0;}
	.seal{padding-top:115px;}
	.tag{
		.title-h2{font-size:20px; line-height:24px;
			strong{font-size:20px;}
		}
	}
}