* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */




.topo-total{
    width: 100%;
    background-color: #8257e5;
    padding: 20px 0;
}

.topo{
    width: 1200px;
    margin: 0 auto;
}

.menu-total{
    width: 100%;
}

.menu{
    width: 1200px;
    margin: 0 auto;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    /* text-decoration: none; */
}

.menu ul li a {
    text-decoration: none;
    font-size: 23px;
    color: #e5dbff;
    font-family: Archivo;
}

.box-total{
    width: 100%;
}

.box{
    width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
    padding: 30px 0;
}


.rodape-total{
    width: 100%;
    background: #8257e5;
    padding: 20px 0;
}

.rodape{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;
}

.logo-rodape {
    width: 100%;
    padding: 2px 0;
}

.texto-rodape {
    width: 100%;
}


.card {
    width: 30%;
    text-align: center;
}

.card p {text-align: justify;font-family: Archivo;font-size: 17px;}

.card h2 {
    font-family: Archivo;
    font-size: 20px;
}

.linha-card {
    display: flex;
    justify-content: space-between;
}

.titulo-estudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.titulo-estudo h1 {
    font-family: Archivo;
    font-size: 48px;
    color: #8257e5;
}

.titulo-estudo p {
    font-family: Archivo;
    font-size: 24px;
    padding: 0 40px;
    color: #04d361;
}

/* w3c */
.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    /* background-color: #2196F3; */
    color: #ffffff;
    /* width: 100px; */
    /* line-height: 100px; */
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 21px 16px;
    background-color: #ffffff;
    /* background-color: #f1f1f1; */
    cursor: pointer;
    width: 50%;
    border-radius: 2px;
    border-left: 1px solid #0000003b;
    border-right: 1px solid #0000003b;
    font-family: Archive;
    font-size: 20px;
    color: black;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    /* background-color: #3f3d561f; */
    background-color: #f1f1f1;
    color: #3f3d56;
    border-top: 1px solid #8257e5;
    /* transition: 0.9s; */
  }
/* w3c */


div#myBtnContainer {
    display: flex;
    /* border-bottom: 1px solid #0000003b; */
    border-top: 1px solid #00000030;
}

.conteudo-estudo {
    padding: 50px 0;
}


.container {
    /* background-color: #e8e7ea; */
    padding: 30px 20px;
    border: 1px solid #0000003b;
}

.conteudo {
    display: flex;
}

.texto-estudo h3 {
    font-family: Archivo;
    font-size: 32px;
    max-width: 373px;
    text-align: left;
    line-height: 40px;
}

.texto-estudo p {
    font-family: Archivo;
    font-size: 18px;
    text-align: left;
    max-width: 530px;
}

.texto-estudo button {
    width: 198px;
    background-color: #8257e5;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    font-family: Archivo;
    font-size: 17px;
    transition: 0.9s;
}

.texto-estudo {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

svg.styles_logo__3tV1t {
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
}

.texto-estudo button:hover {
    cursor: pointer;
    background: #8257e5d6;
    transition: 0.9s;
}


.gallery {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.box h2 {
    /* margin: 0 auto; */
    font-size: 43px;
    text-align: center;
    font-family: Archivo;
    color: #04d361;
}

















@media only screen and (max-width:998px) {
    * {
        max-width: 100%;
        box-sizing: border-box;

    }
   
}
