* {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0
}

#erro-total {
	width: 700px;
	height: 270px;
	margin: 15px 0
}

#imagem-centralizada {
	width: 100%;
	text-align: center;
	margin: 10px 0
}

#texto-404 {
	width: 100%;
	font-family: Calibri;
	font-size: 22px;
	text-align: center
}

#aguarde {
	width: 100%;
	font-family: Calibri;
	font-size: 19px;
	text-align: center;
	margin: 5px 0
}

.page-404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 600px
}

a {
	text-decoration: none
}

.global {
	margin: 0 auto
}

.conteudo-pages {
	min-height: 500px;
	width: 1200px;
	margin: 0 auto
}

.texto-pages {
	font: 15px/25px Calibri;
	color: #000;
	text-align: justify
}

.texto-pages h1 {
	font: 50px/70px Bauhaus Md BT;
	color: #393738;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
	border-bottom: 2px solid #58559e;
	width: 100%
}

.texto-pages h2 {
	font: 20px Calibri;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #000
}

.slick-track {
	max-width: none
}

.vendas-pecas-acessorios h1 {
	font: 50px/70px Bauhaus Md BT;
	color: #393738;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
	border-bottom: 2px solid #58559e;
	width: 100%
}

.imagens-pecas-acessorios- {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.acessorios h2 {
	font: 20px Calibri;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: 700
}

.vendas-pecas-acessorios img {
	margin: 25px 35px;
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px
}

body {
	background: url(template/pw-images/fundo.jpg) center top fixed no-repeat;
	overflow-x: hidden
}

.topo {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	justify-content: space-between
}

.logo {
	text-align: center;
	margin: 30px 0
}

.topo .dados {
	font-size: 25px;
	font-family: Bauhaus Md BT;
	color: #393738;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center
}

.topo .dados span {
	font-size: 40px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center;
	display: block;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center
}

.dados span i {
	font-size: inherit;
	color: #18a900;
	margin: 0 10px
}

.menu {
	width: 1200px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	visibility: hidden
}

.menu ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	background: #393738;
	border-radius: 10px;
	margin: 20px 0
}

.menu li {
	display: inherit;
	list-style-type: none;
}

.menu li a {
	color: #fff;
	font-size: 20px;
	font-family: Bauhaus Md BT;
	transition: .4s padding, .2s border;
	border: 2px solid transparent;
	padding: 13px 15px;
	border-radius: 10px;
	margin: 0 -1px
}

.menu li a:hover {
	border: 2px solid #58559e
}

.rodape-total {
	background: #393738
}

.rodape {
	margin: auto;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center
}

.rodape > div {
	margin: 30px 0
}

.logo-pw {
	text-align: center
}

.logo-pw div p:first-child a {
	color: #fff;
	font: 12px Helvetica;
	margin-top: -8px;
	display: block
}

.logo-pw div a span {
	color: transparent
}

.texto-rodape .item {
	margin-bottom: 10px;
	font-size: 20px;
	font-family: Bauhaus Lt BT;
	color: #fff;
	text-align: center
}

.redes-rodape {
	display: flex
}

.redes-rodape .item {
	padding: 0 10px;
	font-size: 20px;
	font-family: Bauhaus Lt BT;
	color: #fff;
	border-right: 1px solid #fff;
	transition: .3s;
	cursor: pointer
}

.redes-rodape .item:last-child {
	border: none
}

.redes-rodape .item:first-child:hover {
	color: #3B5998
}

.redes-rodape .item:hover {
	color: #999
}

.redes-rodape .item:last-child:hover {
	border: none;
	color: #00aced
}

.g-recaptcha > div {
	margin: auto
}

.slider {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center
}

.slogan {
	text-align: center;
	width: 630px;
	z-index: 999;
	position: absolute
}

.slogan .titulo {
	font-size: 50px;
	font-family: Bauhaus Md BT;
	color: #fff
}

.slogan .texto {
	font-family: calibri;
	font-size: 25px;
	margin: 10px 0;
	color: #fff
}

.slogan .botao {
	font-size: 20px;
	font-family: calibri;
	width: 210px;
	margin: 0 auto;
	background: #58559e;
	padding: 8px;
	border-radius: 10px;
	color: #fff;
	transition: .3s
}

.slogan .botao:hover {
	background: #393738
}

.box-01 {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap
}

.box-01 .item {
	width: 390px;
	margin: 10px 0;
	visibility: hidden
}

.box-01 .item:first-child .conteudo {
	background: #58559e
}

.box-01 .item:last-child .conteudo {
	background: #58559e
}

.box-01 .img-total {
	display: flex;
	justify-content: center;
	align-items: center
}

.box-01 .hover .texto i {
	font-size: 38px;
	color: #fff
}

.box-01 .item .conteudo {
	text-align: center;
	background: #393738;
	padding: 10px 0;
	border-radius: 20px;
	margin: 10px 0 0
}

.box-01 .item .titulo {
	font-size: 26px;
	font-family: Bauhaus Md BT;
	color: #fff;
	margin: 10px 0;
	padding: 0 10px
}

.box-01 .item .conteudo .texto {
	font-size: 18px;
	font-family: calibri;
	color: #fff;
	margin: 10px 0;
	padding: 0 10px
}

.box-01 .item .img {
	display: flex;
	background: #000;
	border-radius: 20px
}

.box-01 .item .img img {
	border-radius: 20px;
	transition: .5s
}

.box-02-total {
	background: #eee;
	margin-top: 100px;
	position: relative
}

.box-02 {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 1200px;
	position: relative;
	bottom: 70px
}

.box-02 img {
	padding-bottom: 10px;
	box-shadow: 0 0 0 0 transparent;
	transition: .5s all;
	visibility: hidden
}

.box-02 img:hover {
	padding-bottom: 10px;
	box-shadow: 0 3px 0 0 #58559e
}

.box-03-total {
	background: #fff
}

.box-03 {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	visibility: hidden
}

.box-03 .titulo {
	font-size: 35px;
	font-family: Bauhaus Md BT;
	align-items: center;
	display: flex;
	width: 200px;
	justify-content: space-around;
	margin: auto;
	color: #393738
}

.box-03 .titulo i {
	font-size: 10px;
	color: #58559e
}

.box-03 .texto {
	width: 800px;
	font-family: calibri;
	font-size: 19px;
	margin: 20px auto;
	color: #666
}

.box-03 .botao {
	font-family: calibri;
	font-size: 20px;
	padding: 10px 0;
	background: #58559e;
	width: 210px;
	margin: auto;
	color: #fff;
	border-radius: 10px;
	transition: .3s
}

.box-03 .botao:hover {
	background: #393738
}

.box-04-total {
	background: #ececf2
}

.box-04 {
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	visibility: hidden
}

.box-04 .contato {
	width: 500px;
	text-align: center;
	margin: 40px 0
}

.box-04 .titulo {
	font-size: 35px;
	font-family: Bauhaus Md BT;
	margin: 10px 0;
	text-align: center
}

.box-04 .formulario input {
	width: 100%;
	padding: 10px 30px 10px 20px;
	background: #ececf2;
	border: 1px solid #999;
	color: #666;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none !important;
	font-size: 20px;
	font-family: calibri;
	position: relative;
	border-radius: 10px;
	box-shadow: none
}

.box-04 .formulario input.mensagem {
	height: 100px;
	padding: 10px 0 50px 20px
}

input[type='submit'] {
	background: #58559e !important;
	color: #fff !important;
	transition: .3s;
	cursor: pointer
}

input[type='submit']:hover {
	background: #393738 !important
}

.localizacao {
	margin: 40px 0
}

.texto-pages p {
	font-family: calibri;
	font-size: 19px
}

.texto-pages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #ffffff78;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 30px
}

.texto-pages.empresa:first-child img {
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px
}

.texto-pages.lavadora img {
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px;
	padding: 20px 70px
}

.empresa .texto {
	width: 620px;
	display: flex;
	flex-wrap: wrap;
	min-height: 230px
}

.lavadora .texto {
	width: 620px;
	display: flex;
	flex-wrap: wrap;
	height: 230px
}

.empresa .swiper-slide {
	width: 400px !important;
	display: flex;
	align-items: center
}

.empresa .swiper-slide img {
	padding: 0 !important;
	box-shadow: none !important;
	border-radius: unset !important
}

.empresa .swiper-container {
	margin-top: 30px;
	width: 1200px;
	overflow: hidden
}

.form-pages form input {
	padding: 10px 30px 10px 20px;
	background: #ececf2;
	border: 1px solid #999;
	color: #666;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none !important;
	font-size: 20px;
	font-family: calibri;
	position: relative;
	border-radius: 10px;
	box-shadow: none;
	width: 100%;
	height: 45px
}

.form-pages form textarea {
	height: 100%;
	width: 100%;
	padding: 10px 30px 10px 20px;
	background: #ececf2;
	border: 1px solid #999;
	color: #666;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none !important;
	font-size: 20px;
	font-family: calibri;
	position: relative;
	border-radius: 10px;
	box-shadow: none
}

.form-pages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 30px
}

.form-pages form {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.form-pages h2 {
	width: 100%;
	text-align: center;
	color: #58559e
}

.ctt-contatos-pages {
	width: 48%
}

.msg-contato-pages {
	width: 48%
}

.form-pages input[type="submit"] {
	width: 100%;
	margin-top: 10px
}

.menu-servicos {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	background: darkgrey;
	border-radius: 10px
}

.menu-servicos img {
	padding: 20px;
	background: #fff;
	border-radius: 10px 0 0 10px;
	object-fit: contain
}

.submenu-servicos {
	width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-around
}

.submenu-servicos a {
	font: 20px Calibri;
	font-weight: 700;
	color: #58559e;
	text-decoration: underline
}

.submenu-servicos a:hover {
	color: #393738
}

.purificador-imagens img {
	width: 160px;
	margin: 5px;
	height: auto
}

.purificador-imagens {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 640px;
	background: #fff;
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px
}

.purificador .texto {
	width: 510px;
	display: flex;
	flex-wrap: wrap;
	height: 230px
}

.purificador .texto p {
	width: 100%
}

.texto-pages.purificador {
	display: flex;
	justify-content: space-between
}

.microondas img {
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px;
	padding: 20px 70px;
	height: max-content
}

.texto-pages.microondas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.microondas .texto {
	width: 650px;
	display: flex;
	flex-wrap: wrap;
	height: 260px
}

.clientes-lista {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px
}

.cliente {
	margin: 0 auto;
	border: 3px solid #5b58a7;
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 284px;
	justify-content: center;
	height: 150px;
	background: #fff
}

.lava-e-seca img {
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px;
	padding: 20px 70px
}

.texto-pages.lava-e-seca .texto {
	width: 620px;
	display: flex;
	flex-wrap: wrap
}

.texto-pages .texto h3 {
	width: 100%;
	text-align: center;
	color: #58559e;
	font: 20px Calibri
}

.refrigeradores .texto {
	width: 650px;
	display: flex;
	flex-wrap: wrap;
	height: 230px
}

.refrigeradores img {
	box-shadow: #000 2px 3px 4px;
	border-radius: 0 40px 0 40px
}

.texto-pages.contato h2 {
	padding: 0;
	width: 100%;
	font-size: 35px;
	font-family: Bauhaus Md BT;
	margin: 10px 0;
	text-align: center;
	font-weight: 400;
	margin-top: 20px
}

.contato-info .info {
	width: 250px;
	text-align: center;
	font-size: 30px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center
}

.contato-info .info:first-child {
	width: 100%;
	margin-bottom: 20px
}

.contato .contato-info {
	margin: 0 auto;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.contato-info .info i {
	font-size: 30px;
	margin-right: 10px;
	margin-left: 20px;
	color: #393738
}

.contato-info .info a {
	font-size: 30px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	font-weight: 700
}

.contato-info .info:first-child i {
	color: #18a900
}

.contato-info .info a:hover {
	color: #18a900
}

.topo .dados span a:hover {
	color: #18a900
}

.topo .dados span a {
	font-size: 40px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	font-weight: 700;
	display: flex;
	align-items: center
}

.contato .contato-form {
	margin-top: 20px;
	width: 1200px
}

.contato-local .info {
	font-size: 25px;
	font-family: Bauhaus Md BT;
	color: #393738;
	width: 100%;
	text-align: center;
	margin-bottom: 10px
}

.mapa img {
	border: 1px solid rgb(0, 0, 0);
}

.form-pages span a {
	font-size: 31px;
	font-family: Bauhaus Md BT;
	color: #18a900;
	font-weight: 700;
	display: flex;
	align-items: center;
	margin-bottom: 14px
}

.form-pages span i {
	font-size: 40px;
	color: #18a900;
	margin: 0 10px
}

.form-pages span a:hover i {
	color: #1a9605
}

.form-pages span a:hover {
	color: #1a9605
}

.dados span i:hover {
	color: #1a9605
}

.imgs-marcas img {
	padding: 5px !important;
	margin: 20px;
	border-radius: 0 10px 0 10px !important;
	background: #fff;
	width: 100px;
	height: auto
}

.imgs-marcas {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto
}

.lavadora .imgs-marcas {
	margin-top: 40px
}

.purificador .imgs-marcas {
	margin-top: 10px
}

.box-logos-clientes {
	display: flex;
	justify-content: space-around;
	width: 1200px;
	margin: 0 auto;
}

.logo-cliente p {
	font-size: 35px;
	color: #58559e;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}

.imgs-marcas.lava-seca {
	width: 560px;
}

.wppp {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.wppp p {
	font-size: 35px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	margin: 10px 0;
	padding: 0 10px;
	font-weight: 700;
}

.wppp p a {
	font-size: 35px;
	font-family: Bauhaus Md BT;
	color: #58559e;
	margin: 10px 0;
	padding: 0 10px;
	font-weight: 700;
}

.wppp p a:hover {
	color: #18a900;
}
.tel-escondido p {
    font-size: 35px;
    font-family: Bauhaus Md BT;
    color: #58559e;
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
    display: block;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel-escondido {
    display: none;
}

@media only screen and (max-width:1200px) {
	.topo {
		margin: 0 20px;
		flex-wrap: wrap;
		justify-content: center
	}

	.topo-total {
		display: flex;
		justify-content: center
	}

}

@media only screen and (max-width:955px) {
	.menu li {
		margin-left: 0;
		margin-right: 0;
		text-align: center
	}

	.slider {
		height: auto
	}

	.swiper-container {
		display: none
	}

	.slogan {
		position: relative
	}

	.logo {
		margin: 10px 0
	}
}

@media only screen and (max-width:1133px) {
	.texto-pages.empresa {
		justify-content: center;
	}
}

@media only screen and (max-width:1058px) {
	.menu ul {
		justify-content: center;
		border-radius: 0;
		margin: 0 auto;
		background: transparent;
		width: 103%
	}

	.menu ul li {
		display: block;
		margin: 0;
		width: 49%;
		padding: 16px 0;
		text-align: center;
		background: #58559e;
		border: 1px solid #fff;
	}

	.menu ul li a {
		padding: 0;
		color: #fff;
	}

	.menu li a:hover {
		border: none
	}
}

@media only screen and (max-width:707px) {
	.box-02-total {
		display: none
	}

	.menu ul {
		justify-content: center;
		margin: 0 0 20px
	}

	.menu li a {
		padding: 10px
	}
}

@media only screen and (max-width:937px) {
	.box-02 img:nth-child(4) {
		display: none
	}

	.topo .dados span {
		display: none;
	}

	.topo .dados span a {
		font-size: 25px
	}

	.topo .dados {
		font-size: 18px
	}
	.tel-escondido{
		display: block;
	}
}

@media only screen and (max-width:1167px) {
	.box-02 img:last-child {
		display: none
	}
}

@media only screen and (max-width:1194px) {
	.purificador-imagens {
		box-shadow: none;
		background: transparent
	}

	.texto-pages.purificador img {
		box-shadow: #000 2px 3px 4px;
		border-radius: 0 10px 0 10px !important
	}

	.purificador-imagens img {
		margin: 10px
	}
}

@media only screen and (max-width:1200px) {
	* {
		max-width: 100%
	}

	.menu {
		width: 100%
	}

	.conteudo-pages {
		padding: 2%
	}

	.rodape div {
		width: 100%;
		margin: 20px 0;
		text-align: center
	}

	.box-01 .item {
		width: 30%
	}

	.box-01 .hover {
		display: none
	}

	.box-01 .item:hover .img img {
		opacity: 1
	}

	.conteudo-pages {
		padding: 0
	}

	.lavadora .texto {
		height: unset
	}

	.texto-pages.lavadora {
		justify-content: center
	}

	.texto-pages.lavadora img {
		padding: 0
	}

	.purificador .texto {
		height: unset;
		margin-right: 5px
	}

	.texto-pages.purificador {
		justify-content: center
	}

	.texto-pages.purificador img {
		padding: 0
	}

	.lava-e-seca .texto {
		height: unset;
		margin-right: 5px
	}

	.texto-pages.lava-e-seca {
		justify-content: center
	}

	.texto-pages.lava-e-seca img {
		padding: 5px;
		margin: 5px
	}

	.microondas .texto {
		height: unset;
		margin-right: 5px
	}

	.texto-pages.microondas {
		justify-content: center
	}

	.texto-pages.microondas img {
		padding: 5px;
		margin: 5px
	}

	.refrigeradores .texto {
		height: unset;
		margin-right: 5px
	}

	.texto-pages.refrigeradores {
		justify-content: center
	}

	.texto-pages.refrigeradores img {
		margin: 5px
	}

	.submenu-servicos {
		flex-wrap: wrap
	}

	.submenu-servicos a {
		margin: 10px
	}
}

@media only screen and (max-width:797px) {
	.texto-pages h1 {
		font-size: 30px;
	}

	.box-01 .item {
		width: 390px
	}

	.ctt-contatos-pages {
		width: 100%
	}

	.msg-contato-pages {
		width: 100%;
		height: 220px
	}
}

@media only screen and (max-width:600px) {
	.slider {
		display: block !important
	}

	.slogan {
		position: relative !important;
		background: #ececf2;
		padding: 10px 0;
		width: 100% !important
	}

	.slogan .titulo {
		font-size: 30px !important
	}

	.slogan .texto {
		font-size: 20px !important
	}
}

@media only screen and (max-width:398px) {
	.menu ul li {
		width: 48%
	}

	.menu ul li a {
		font-size: 17px
	}

	.topo .dados span:first-child {
		width: 190px;
		margin: 0 auto
	}

	.imgs-marcas img {
		margin: 10px
	}
}
