div:hover > .btn {
    display: block;
    opacity: 1;
    transform: rotate(360);
    transition: all 1s;
}

.btn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
    opacity: 0.6;
    transition: all 1s;
}

.btn.absolute {
    position: absolute;
}

.btn > div {
    width: 100px;
    display: inline-block;
}

.btn .remove::before {
    font-weight: 900;
    content: "\f05e";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .remove::after {
    content: "";
    font-family: calibri;
    font-size: 14px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::before {
    font-weight: 900;
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::after {
    content: "RETORNAR";
    font-family: calibri;
    font-size: 16px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn.white *::before,
.btn.white *::after {
    color: #fff !important;
}

.logo-pw div p:first-child a {
    color: #fff;
    font: 12px "Helvetica";
    margin-top: -8px;
    display: block;
}

.logo-pw div {}

.logo-pw div a span {
    color: transparent;
}

.logo-pw-total {
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
}

.item.whats {
    background: #2ba531;
    border-radius: 30px;
    padding: 10px 0px !important;
    font-weight: bold;
}

.item.online {
    background: #00b29c;
    border-radius: 30px;
    padding: 10px 0px !important;
    margin-top: 10px;
    font-weight: bold;
}

.item.whats:hover {
    background: #239529;
    cursor: pointer;
}

.item.online:hover {
    background: #048676;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

.item-logo-pw p:nth-child(2) a {}

* {
    color: #333333;
    margin: 0;
    padding: 0;
    border-radius: 1px;
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

a {
    text-decoration: none;
}

.global {
    margin: 0 auto;
}

.conteudo-pages {min-height: 390px;}

.texto-pages {
    font: 15px/25px "Calibri";
    color: #000;
    text-align: justify;
}
.mvv {
    width: 1200px;
    margin: 0 auto;
}

.mvv .item {
    margin: 10px 0 25px;
}

.mvv .icone {
    width: 100%;
    padding: 10px 0;
    display: none;
}

.mvv .icone i {
    font-size: 50px;
    color: #f47f34;
}

.mvv h3 {
    font-family: 'Myriad Pro';
    font-size: 28px;
    color: #fff;
}

.mvv p {
    font-family: 'Calibri';
    font-size: 20px;
    color: #fff;
    line-height: 25px;
}
.texto-pages h1 {
    font: 25px "Calibri";
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
}

.texto-pages h2 {
    font: 20px "Calibri";
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
}

.menu-resp {
    display: none;
}

.swiper-container {
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px -1px #b5b5b5;
    transition: all 0.5s;
}

.contato {}

.contato input {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
}

.contato textarea {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
    resize: none;
    height: 200px;
}

.contato .submit {
    cursor: pointer;
    background: #016086;
    color: #fff;
}

.linha-total {
    background: #0c9f95;
}

.linha-total .linha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
}

.linha .item {
    color: #fff;
    font: 16px "calibri";
    padding: 10px 0px;
}

.linha .item * {
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
}

.topo-total {}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}

.menu li a {
    font-family: 'CALIBRI';
    font-size: 19px;
    list-style: none;
    font-weight: bold;
    padding: 10px 4px;
    color: #0c9f95;
    margin: 10px;
}

.menu li a:hover {
    background: #d42d75;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

.menu li .ativo {
    color: #0c9f95;
    position: relative;
}

.menu li .ativo::before {
    font-family: "fontAwesome";
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    color: #eee;
    font-size: 27px;
}

.rodape-total {
    background: #169088;
}

.rodape {
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
}

.rodape .item {
    color: #fff;
    font: 17px "calibri";
    padding: 10px 0px;
    width: 270px;
    /* text-align: center; */
    display: flex;
    align-items: center;
}

.rodape .item i {
    color: #fff;
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 0px 10px;
    width: 30px;
}

.logo-pw {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.rodape.contatos {
    display: flex;
    align-items: center;
}

.rodape.contatos p {
    border-right: 2px solid #fff;
    height: 80px;
    display: flex;
    align-items: center;
}

/* Index */
.item-rodape-total {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 20px;
}

.rodape p strong {
    color: #fff;
    font: 20px "calibri";
    font-weight: bold;
    padding: 10px;
}

.rodape img {
    width: 144px;
}

.social i {
    padding: 10px;
    font-size: 25px;
    color: #fff;
}

.topo-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.topo-chat .item.online {
    margin: 0px 10px;
}

.topo-chat .whats {
    padding: 10px 10px !important;
}

.topo-chat .online {
    padding: 10px 10px !important;
}

.box-01 {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.5s;
}

.box-01:hover {}

.box-01 > div {
    margin: 40px 0px;
}

.box-01 .conteudo {
    width: 580px;
}

.box-01 .conteudo .titulo {
    font: 40px 'calibri';
    color: #353535;
}

.box-01 .conteudo .titulo::first-line {
    color: #353535;
}

.box-01 .conteudo .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-01 .conteudo .linha .barra {
    width: 80px;
    transition: all linear 0.8s 0.55s;
    height: 100%;
    background: #d42d75;
    position: relative;
}

.box-01-total:hover .conteudo .linha .barra {
    width: 100%;
    transition: all linear 0.5s;
}

.box-01 .conteudo .texto {
    font: 20px/25px 'calibri';
    text-shadow: 0px 0px 1px #eee;
    color: #333;
    margin: 20px 0px;
}

.box-01 .conteudo .entrar {
    padding: 18px 47px;
    background: #2470aa;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.box-01:hover .conteudo .entrar {
    transform: scale(1.1);
    transition: all 0.5s;
}

.box-01 .img {
    width: 450px;
    height: 370px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #fff inset;
    display: flex;
    position: relative;
}

.box-01 .img .info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    background: rgb(36 112 170 / 43%);
    font: 23px 'calibri';
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 33px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: all linear 0.5s;
    transform: translateX(-100%);
}

.box-01 .img .info i {
    color: #fff;
    font-size: 100px;
    display: block;
    text-align: center;
}

.box-01:hover .img .info {
    opacity: 1;
    transition: all linear 0.5s 0.48s;
    transform: translateX(0%);
}

.box-01 .img img {
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}

.box-02-total {
    background: #169088;
}

.box-02 {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-02 .item {
    margin: 18px -5px;
    width: 246px;
    box-sizing: border-box;
    border: 2px solid rgba(251, 251, 251, 0.13);
    padding: -7px 9px;
    text-align: center;
    border-radius: -66px;
    padding: 10px;
}

.box-02 .item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.box-02 .item .img {
    width: 100%;
    height: 157px;
    overflow: hidden;
}

.box-02 .item .titulo {
    font: 28px 'calibri';
    color: #fff;
    margin: 40px 0px;
    min-height: 70px;
}

.box-02 .item .conteudo {
    font: 18px/30px 'calibri';
    color: #fff;
    margin: 40px 0px;
}

.box-02 .item .entrar {}

.box-02 .entrar {
    padding: 14px 45px;
    background: #2470aa;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.box-03 {
    width: 904px;
    margin: 30px auto;
    opacity: 0.6;
    transition: all linear 0.8s 0.55s;
}

.box-03-total:hover .box-03 {
    opacity: 1;
    transition: all linear 0.5s;
}

.box-03 .titulo {
    font: 40px 'calibri';
    color: #353535;
    text-align: center;
    margin-bottom: 40px;
}

.box-03 .titulo::first-line {
    color: #353535;
}

.box-03 .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-03 .linha .barra {
    width: 80px;
    transition: all linear 0.8s 0.55s;
    height: 100%;
    background: #d42d75;
    position: relative;
}

.box-03-total:hover .linha .barra {
    width: 100%;
    transition: all linear 0.5s;
}

.box-03 .item {
    width: 446px;
    display: inline-block;
    vertical-align: top;
}

.box-03 input {
    width: 100%;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    font: 18px 'calibri';
    border-radius: 7px;
}

.box-03 input:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.box-03 textarea {
    width: 100%;
    height: 200px;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    resize: none;
    font: 18px 'calibri';
}

.box-03 textarea:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.box-03 .submit {
    width: 100%;
    padding: 20px 70px;
    background: #2470aa;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.mapa {}

.formulario {
    margin: 40px 0px;
}

.formulario input {
    width: 100%;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    font: 18px 'calibri';
}

.formulario input:focus {
    box-shadow: 2px 0px 0px 0px #d42d75 inset;
}

.formulario textarea {
    width: 100%;
    height: 200px;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    resize: none;
    font: 18px 'calibri';
}

.formulario textarea:focus {
    box-shadow: 2px 0px 0px 0px #d42d75 inset;
}

.formulario .submit {
    width: 100%;
    padding: 20px 70px;
    background: #d42d75;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    cursor: pointer;
}

.formulario .submit:hover {
    background: #2470aa;
}

.conteudo-pages h1 {
    font: 45px 'calibri';
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    background: #0c9f95;
    padding: 5px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    box-shadow: 0px 0px 0px 5px #2470aa;
}

.conteudo-pages h1::first-line {
    color: #ffffff;
}

.empresa-total {
    width: 1200px;
    margin: 0 auto;
}

.texto-empresa {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.item-text {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 600px;
    width: 650px;
}

.item-text .item {
    padding: 30px;
}

.item-text h2 {
    font-family: 'Myriad Pro';
    font-size: 30px;
    border-bottom: 2px solid #043f7a;
    color: #043e79;
}

.item-text p {
    font-family: 'Myriad Pro';
    font-size: 18px;
    padding: 10px 0px;
    line-height: 35px;
    text-align: justify;
}

.item-text i {
    color: #3c3c3c;
}

.texto-empresa img {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 20px;
}

.mvv-total {
    /* background: url('../pw-images/fundo.jpg') center no-repeat; */
    background: #2470aa;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}
.gallery {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    margin: 20px 0px;
    transition: 0.5s;
}

.gallery img:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

/* Paginas INternas */

.boxPage {
    width: 1200px;
    margin: 0 auto;
}

.dup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.boxPage h2 {
    border-bottom: 1px solid;
    margin: 30px 0;
    color: #2470aa;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 30px;
}

.txtBox {
    width: 530px;
}

.imgBox {
    width: 500px;
}

.imgBox img {
    width: 100%;
    border-radius: 8px;
}

.txtBox p {
    font-size: 19px;
    text-align: justify;
    line-height: 27px;
}

.col {
    /* margin: 40px 0; */
    /* border-bottom: 1px solid #ddd; */
    padding: 20px 0;
}

.col.dup:nth-child(3) {
    background: #f6f6f6;
    padding: 25px;
}

.imgBox.size {width: 320px;}

.mvv h2 {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid;
    margin-bottom: 35px;
    font-family: myriad pro;
}

.mvv .item ul {
    padding: 5px 25px;
}

.mvv .item ul li {
    list-style: inside;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: myriad pro;
    padding: 5px 0 10px;
}

.mvv .item ul li p {
    font-weight: normal;
    text-align: justify;
}

.mvv h3 i {
    color: #fff;
}

.itemBox {
    width: 320px;
    text-align: center;
    background: #0c9f95;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #2470aa;
    margin: 10px;
    border-radius: 8px;
}

.imgitem {
    width: 260px;
    height: 260px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #d42d75;
}

.imgitem img {
    width: 100%;
    height: auto;
}

.itemBox h2 {
    margin: 20px 0;
    color: #fff;
    font-size: 22px;
}

.itemBox p {
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
    padding-bottom: 30px;
}

.itemBox p strong {
    color: #fff;
    font-weight: bolder;
}

.itemBox a {
    background: #d42d75;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.itemBox a:hover {
    background: #2470aa;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Fim */

/* Acordeao */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #d42d75;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    font-family: 'Font Awesome 5 Free';
    display: block;
    content: "\f067"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    font-weight: 900;
    padding-right: 5px;
    color: #ffffff;
  }
  
  .active:after {
    /* content: "\f068"; */ /* Unicode character for "minus" sign (-) */
  }

  .acordeaoItem {
    margin: 10px 0;
}

.blue {
    background: #2470aa;
    color: #fff;
}

.green {
    background: #0c9f95;
    color: #fff;
}

.panel p {
    font-size: 17px;
    margin: 10px;
    font-family: calibri;
    text-align: justify;
}


.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    /* line-height: 100px; */
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  



button.btn.active {
    background-color: #0c9f95;
    font-size: 17px;
    border: 1px solid black;
    color: white;
    /* font-family: Calibri; */
}

div#myBtnContainer {
    width: 100%;
    display: flex;
}

button.btn {
    background-color: white;
    /* color: white; */
    border: 1px solid;
    padding: 0px 10px;
    margin-left: 2px;
    font-size: 17px;
    font-family: Calibri;
}


.filterDiv {
    width: 1200px;
    background-color: white;
}

.filterDiv p {
    line-height: normal;
    text-align: justify;
    /* width: 50%; */
    font-family: Calibri;
    font-size: 21px;
    /* margin: 0 auto; */
}


.img-filterDiv {
    width: 500px;
}

.conteudo-filterDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.texto-filterDiv {
    width: 600px;
}

.texto-filterDiv li {
    font-size: 21px;
    font-family: Calibri;
    text-indent: 10px;
    text-align: justify;
}

.texto-filterDiv ul {
    padding-top: 10px;
    padding-left: 40px;
}

.boxPage h3{
    /* border-bottom: 1px solid; */
    margin: 30px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 20px;
    width: 460px;
    text-align: center;
    background: #d42d75;
    border-radius: 10px;
    padding: 15px 20px;
}

.curriculo-total {
    width: 1200px;
    margin: 0 auto;
    /* padding: 30px 0; */
}


.curriculo {
    display: flex;
    background-color: #00000008;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.texto-curriculo h2 {
    font-size: 30px;
    font-family: Calibri;
    color: #2470aa;
    /* text-align: left; */
    /* padding: 10px 40px; */
}

.texto-curriculo h3 {
    font-size: 23px;
    font-family: Calibri;
    color: #d42d75;
    /* text-align: center; */
    padding-top: 10px;
}

.texto-curriculo p {
    font-size: 20px;
    font-family: Calibri;
    padding-top: 20px;
    text-align: justify;
}

.texto-curriculo li {
    font-size: 20px;
    /* padding: 20px 40px; */
    font-family: Calibri;
    padding-top: 10px;
    padding-left: 40p;
}

.texto-curriculo ul {
    /* font-size: 20px; */
    /* padding: 0 70px; */
    /* font-family: Calibri; */
    list-style: circle inside;
}

.texto-curriculo {
    padding: 0 40px;
    width: 680px;
}

.curriculo.dois{
    align-items: initial;
    flex-wrap: wrap;
}

.img-curriculo.dois{
    padding-top: 55px;
}



.curriculo-dois p {
    font-size: 20px;
    font-family: Calibri;
}

.curriculo-dois h2 {
    font-size: 30px;
    font-family: Calibri;
    color: #2470aa;
    /* text-align: left; */
    /* padding: 10px 40px; */
}

.curriculo-dois h3 {
    font-size: 23px;
    font-family: Calibri;
    color: #d42d75;
    /* text-align: center; */
    padding-top: 10px;
}

.curriculo-dois p {
    font-size: 20px;
    font-family: Calibri;
    padding-top: 20px;
    text-align: justify;
}

.curriculo-dois li {
    font-size: 20px;
    /* padding: 20px 40px; */
    font-family: Calibri;
    padding-top: 10px;
    padding-left: 40p;
}

.curriculo-dois ul {
    /* font-size: 20px; */
    /* padding: 0 70px; */
    /* font-family: Calibri; */
    list-style: circle inside;
}


.profissionais .filterDiv {
    width: unset;
}

.itemBox p {
    text-align: center;
}























  /* Fim */

@media only screen and (max-width:1200px) {
    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    .linha-total *,
    .topo-total *,
    .conteudo-pages,
    .conteudo-pages *,
    .box-02-total *,
    .mapa *,
    .rodape-total * {
        max-width: 100%;
    }

    .swiper-container img {
        max-width: auto;
    }

    .swiper-container {
        height: 0;
        transition: all 0.5s;
    }

    .conteudo-pages {
        padding: 2%;
    }

    .topo > div {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .menu-resp {
        display: block;
        background: url('../images/menu-resp.png') center no-repeat;
        padding: 20px;
        cursor: pointer;
    }

    .rodape div {
        width: 100%;
        margin: 20px 0px;
        text-align: center;
    }

    .menu li .ativo::before {
        display: none;
    }

    .menu li a {
        padding-top: 3px !important;
    }
}

@media only screen and (max-width:980px) {
    .box-03 .item {
        width: 100%;
    }

    .box-03 {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .menu li a {
        padding: 0 10px 10px;
    }

    .linha .item:last-child {
        font-size: 13px;
    }

    .linha-total .linha {
        justify-content: center;

    }

    .menu li a {
        color: #fff;
    }

    .menu li:last-child {
        width: 100%;
    }

    .menu li {
        width: 50%;
        padding: 10px;
        background: #036;
        border: 1px solid#fff;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .linha .item {

        margin: 5px;
    }

    div#wowslider-container1 {
        display: none;
    }

    .box-01 .conteudo .titulo {
        font: 35px 'calibri';
        text-align: center;
    }

    .box-01 .conteudo .entrar {

        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .rodape .item i {

        margin: 0px 10px;
    }

    .rodape .item {
        justify-content: center;
    }
}
 