
*{
    font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	margin:0;
    padding:0;
}

/* PAGINA DE ERRO 404 - NAO MECHER */

#erro-total{
	width:700px;
	height:270px;
	margin:15px 0;
}

#imagem-centralizada{
	width:100%;
	text-align:center;
	margin:10px 0;
}

#texto-404{
	width:100%;
	font-family:Calibri;
	font-size:22px;
	text-align:center;
}

#aguarde{
	width:100%;
	font-family:Calibri;
	font-size:19px;
	text-align:center;
	margin:5px 0;
}
.page-404
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 600px;
}
/* #####################FINAL###################### */

/* all pages */

a
{
	text-decoration:none;
}

.logo-pw {
	text-align: center;
}

.logo-pw div p:first-child a {
    color:#878787;
    font:12px Helvetica;
    margin-top:-8px;
    display:block
}

.logo-pw div {
} 

.logo-pw div a span {
    color:transparent
}

.global
{
	margin: 0 auto;
}

.conteudo-pages
{
	min-height: 500px;
	width: 998px;
	margin: 0 auto;
}

.texto-pages{
	font:15px/25px "Calibri";
	color:#000;
	text-align:justify;
}

.texto-pages h1{
	font:25px "Calibri";
	padding-left:20px;
	margin-bottom:15px;
	font-weight:bold;
	color:#000;
}

.texto-pages h2{
	font:20px "Calibri";
	padding-left:10px;
	margin-bottom:15px;
	font-weight:bold;
	color:#000;
}

.slick-track
{
	max-width: none;
}

.slider .slick-prev
{
	left: 45px !important;
}

.slider .slick-next
{
	right: 45px !important;
}

.slider img {
  max-width: 100%;
}

.slider2 .slick-active
{
	opacity: 0.6 !important;
}

.slider2 .slick-center
{
	opacity: 1 !important;
}

.slider2 .slick-slide {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -os-transition: all 0.3s;
}


.slider2 .slick-prev {
  right: 50px;
  left: initial;
	top: 0px;
}

.slider2 .slick-next {
	top: 0px;
	right: 0px;
}

.menu-resp
{
	display: none;
}
.contato
{
	
}

.contato input
{
	width: 100%;
	padding: 10px 20px;
	background: #eee;
	border: #ccc;
	color: #666;
	box-sizing:border-box;
	margin-bottom: 10px;
	outline: none !important;
}

.contato textarea
{
	width: 100%;
	padding: 10px 20px;
	background: #eee;
	border: #ccc;
	color: #666;
	box-sizing:border-box;
	margin-bottom: 10px;
	outline: none !important;
	resize: none;
	height: 200px;
}

.contato .submit
{
    cursor: pointer;
    background: #016086;
    color: #fff;
}


body
{
	overflow-x: hidden;
}




.fundo-slider
{
	overflow: hidden;
	position:relative;
	display: flex;
}
.fundo-slider img
{
	max-width: initial !important;
}
.slogan-total
{
	width: 100%;
	position:absolute;
	height: 100%;
	top: 50%;
	text-align:center;
	z-index: 9999;
	width: 700px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slogan
{
	width: 700px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.slogan .titulo
{
	font: 50px "calibri";
	font-weight:lighter;
	color: #fff;
	margin-bottom: 10px;
	visibility:hidden;
}
.slogan .conteudo
{
	font: 25px "calibri";
	font-weight:lighter;
	color: #fff;
	visibility:hidden;
}


.linha-topo-total
{
	border-bottom: 1px solid #DDDDDD;
}
.linha-topo
{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.linha-topo .item
{
	font: 20px "calibri";
	color: #666;
	padding: 10px 20px;
}



.topo-total
{
	
}
.topo
{
	width: 1200px;
	margin: 0 auto;	
}
.topo > div
{
	width: 100%;
	text-align:center;
}
.topo .logo
{	
	padding: 30px 0px;
}
.menu
{
	
}
.menu li
{
	display: inline-block;
}
.menu li a
{
	display: block;
	padding: 20px 40px;
	font: 18px "calibri";
	color: #666666;
	border-right: 1px solid #ddd;
}
.menu li:last-child a
{
	border-right: none;
}
.menu li a:hover
{
	color: #f7821d;
}
.menu li a.ativo
{
    color: #f8801a;
    box-shadow: 0px 2px 0px 0px #f4811d inset;
}



.box-01-total
{
	padding: 40px 0px;
}
.box-01
{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.box-01 .item
{
	width: 235px;
	margin: 20px 0px;
	text-align:center;
	position:relative;
	visibility:hidden;
    transform: none !important;
}
.box-01 .item:hover .conteudo
{
    box-shadow: 0px 0px 0px 2px #f08725, 0px 3px 8px 0px #fc881f;
    background: linear-gradient(to bottom, #fff, #f8f8f8);
    opacity: 1;
    transition: opacity 0.5s;
}
.box-01 .item:hover .img::before
{
    opacity: 1;
    transition: opacity 0.5s;
}
.box-01 .item:hover .conteudo::before
{
	opacity: 1;
}
.box-01 .item:hover .conteudo::after
{
	opacity: 1;
}
.box-01 .item .img
{
	width: 100%;
	height: 215px;
	overflow:hidden;
	margin-bottom: 10px;
	position:relative;
}
.box-01 .item .img::before
{
    opacity: 0;
    content: "Saiba Mais";
    font: 34px "calibri";
    text-transform: uppercase;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(246 134 27 / 92%);
    transition: opacity 0.5s;
}
.box-01 .item .img img
{
	width: 100%;
	min-height: 100%;
	height: auto;
}
.box-01 .item .titulo
{
	font: 25px "calibri";
	font-weight:lighter;
	color: #f5811e;
	margin-bottom: 20px;
}
.box-01 .item .conteudo
{
	font: 16px "calibri";
	font-weight:lighter;
	color: #666;
	margin-bottom: 10px;
    padding: 15px 10px;
	position:relative;
	box-sizing:border-box;
    border-radius: 5px;
    opacity: 0;
	text-align:left;
	transition: opacity 0.5s;
	position:absolute;
	width: 100%;
	z-index: 1;
    transition: opacity 0.5s;
}
.box-01 .item .conteudo::before
{
    opacity: 0;
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #f77e1c;
}
.box-01 .item .conteudo::after
{
    opacity: 0;
    content: "";
    position: absolute;
    top: -17px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}



.box-02-total
{
	
}
.box-02
{
    display: table;
}
.box-02 .item
{
	width: 33.333333333333333333%;
	float: left;
	position:relative;
	text-align:center;
	visibility:hidden;
}
.box-02 .item:hover .conteudo
{
	opacity: 1;
	transition: all 0.5s;
}
.box-02 .item .img
{
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}
.box-02 .item .img img
{
	width: 100%;
	height: 478px;
	min-height: 100%;
}
.box-02 .item .conteudo
{
	font: 20px "calibri";
	font-weight:lighter;
	color: #fff;
	opacity: 0;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	background: #f67f1c;
	border: 10px solid #bf6419;
	box-sizing:border-box;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.box-02 .item .conteudo .titulo
{
	font: 60px "calibri";
	font-weight:lighter;
	color: #fff;
}



.box-03-total
{
	padding: 40px 0px;
	background: #f67f1c;
}
.box-03
{
	width: 800px;
	margin: 0 auto;
}
.box-03 > .titulo
{
	font: 40px "calibri";
	color: #fff;
	margin-bottom: 20px;
	text-align:center;
}
.box-03 .box
{
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.box-03 .item
{
	width: 48%;
}
.box-03 .item input
{
	background: #eee;
	border: 1px solid #ccc;
	font: 18px "calibri";
	color: #999;
	padding: 15px 20px;
	box-sizing:border-box;
	width: 100%;
	outline: none !important;
	margin-bottom: 20px;
}
.box-03 .item input:last-child
{
	margin-bottom: 0px;
}
.box-03 .item textarea
{
	background: #eee;
	border: 1px solid #ccc;
	font: 18px "calibri";
	color: #999;
	padding: 15px 20px;
	box-sizing:border-box;
	width: 100%;
	outline: none !important;
	resize: none;
	height: 100%;
}
.box-03 .submit
{
	margin: 0 auto;
	font: 20px "calibri";
	width: 100%;
	display: table;
	background: #eeeeee;
	padding: 15px 20px;
	color: #f67f1c;
	border: none;
	cursor: pointer;
}



.mapa
{
	display: flex;
	position:relative;
}



.rodape-total
{
	
}
.rodape
{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rodape > div
{
	padding: 20px 0px;
	font: 20px "calibri";
	color: #878787;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rodape .social img
{
	padding: 5px;
}

div:hover > .btn { display: block; opacity: 1; transform: rotate(360); transition: all 1s; } .btn { text-align: center; margin: 0 auto; width: 100%; height: 40px; padding: 5px 0px; bottom: 0px; z-index: 999; cursor: pointer; opacity: 0.6; transition: all 1s; } .btn.absolute { position: absolute; } .btn > div { width: 100px; display: inline-block; } .btn .remove::before {    font-weight: 900; content: "\f05e"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .remove::after { content: ""; font-family: calibri; font-size: 14px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::before { font-weight: 900; content: "\f055"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::after { content: "RETORNAR"; font-family: calibri; font-size: 16px; color: #000; width: 100%; text-align: center; display: block; } .btn.white *::before, .btn.white *::after { color: #fff !important; }

@media only screen
and (max-width:1200px)
{
	*
	{
		max-width: 100%;
		box-sizing:border-box;
	}
	.conteudo-pages
	{
		padding: 2%;
	}
	.menu li
	{
		margin-left: 0px;
		margin-right: 0px;
		text-align:center;
	}
		.rodape div
	{
		width: 100%;
		margin: 0;
		text-align:center;
	}
	.rodape > div{
		padding: 10px 0;
	}
	
	.linha-topo
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.box-02 .item
	{
		width: 50%;
		float: left;
		position:relative;
		text-align:center;
	}
	.menu li a{
		border-right: none;
	}
}

@media only screen
and (max-width:900px){

	.slogan .titulo{
		font-size: 30px;
	}
	.slogan .conteudo{
		font-size: 20px;
	}
	.box-02 .item .conteudo .titulo{
		font-size: 40px;
	}
	.menu li a{
		padding: 10px;
	}
}

@media only screen
and (max-width:600px)
{	
	.box-02 .item
	{
		width: 100%;
		float: left;
		position:relative;
		text-align:center;
	}
}


@media only screen and (max-width:500px){

	.fundo-slider{
		display: block;
	}
	.slogan-total{
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
	    background: #0082C7;
	    padding: 20px 0;
	}

	.box-03{
		padding: 0 10px; 
	}
	.box-03 .item{
		width: 100%;
	}
	.box-03 .item input:last-child{
		margin-bottom: 20px;
	}
	.g-recaptcha{
		width: auto;
		margin-bottom: 20px;
	}

}