div:hover > .btn { display: block; opacity: 1;  transition: all 1s; } .btn { text-align: center; margin: 0 auto; width: 100%; height: 40px; padding: 5px 0px; bottom: 0px; z-index: 999; cursor: pointer; opacity: 0.6; transition: all 1s; } .btn.absolute { position: absolute; } .btn > div { width: 100px; display: inline-block; } .btn .remove::before {    font-weight: 900; content: "\f05e"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .remove::after { content: ""; font-family: calibri; font-size: 14px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::before { font-weight: 900; content: "\f055"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::after { content: "RETORNAR"; font-family: calibri; font-size: 16px; color: #000; width: 100%; text-align: center; display: block; } .btn.white *::before, .btn.white *::after { color: #fff !important; }
* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

i.fab.fa-instagram-square:hover {
    color: #bb963e;
}

h2 {
    color: #666;
    font-family: montserrat;
}

i.fab.fa-facebook-square:hover {
    color: #bb963e;
    transition: 0.5s;
}

i.fab.fa-instagram-square:hover {
    transition: 0.5s;
    color: #bb963e;
}

i.fab.fa-instagram-square {
    font-size: 38px;
    color: #4e5773;
    transition: 0.5s;
}


#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

i.fab.fa-facebook-square {
    color: #4e5773;
    font-size: 38px;
    margin-top: 12px;
    transition: 0.5s;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none
}

.esquerda,
.esquerdo,
.left,
.float-left,
.alignleft {
    float: left;
    display: table;
    margin: 0 10px 10px 0
}

.direita,
.direito,
.right,
.float-right,
.alignright {
    float: right;
    display: table;
    margin: 0 0 10px 10px
}

.meio,
.center,
.aligncenter {
    display: table;
    margin: 20px auto
}

.borda {
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 2px 0 #666
}

.global {
    margin: 0 auto
}

.conteudo-pages {
    min-height: 500px;
    margin: 0 auto;
}

.texto-pages {
    font: 15px/25px Calibri;
    color: #000;
    text-align: justify
}

.texto-pages h1 {
    font: 25px Calibri;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.texto-pages h2 {
    font: 20px Calibri;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.contato input {
    width: 500px;
    padding: 10px 30px 10px 20px;
    background: #fff;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    position: relative;
}

.contato [required="required"] {
    background: #eee url(../pw-images/required.png) center right 10px no-repeat;
    background-size: 9px
}

.contato select,
.contato option {
    width: 50%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset
}

.contato textarea {
    width: 500px;
    padding: 10px 30px 10px 20px;
    background: #fff;
    border: #ccc;
    color: #000;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    resize: none;
    height: 200px;
    font-size: 17px;
    position: relative;
}

.contato .submit {
    cursor: pointer;
    background: #fe8c00;
    color: #fff;
}

.contato .required {
    color: #d90000;
    font: 17px calibri;
    font-weight: lighter;
    margin-bottom: 10px
}

.contato .required img {
    height: 9px
}

.topo-total {
    z-index: 999;
    width: 100%;
    /* background: url(../pw-images/banners/1.jpg) no-repeat top; */
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden
}

.logo {
    margin: 30px 0;
    padding: 0 20px
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.menu li {
    list-style-type: none;
    margin: 20px 0
}

.menu li a {
    font: 16px Lato, sans-serif;
    margin: 0 10px;
    padding: 50px 10px;
    position: relative;
    transition: .5s;
    font-weight: bold;
    color: #053660;
}

.menu li a:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 40px;
    right: 40px;
    width: 0;
    height: 0;
    border-right: 0 solid #fff;
    border-left: 20px solid transparent;
    border-top: 20px solid #fff;
    opacity: 0;
    transition: .5s
}

.rodape-total {
    background: #e0e0e0;
    display: flex;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    width: 1020px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.rodape .info {
    width: 420px;
}

.rodape .info .texto {
    font: 18px lato;
    color: #4e5773;
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.rodape .info .texto:first-child {
}
.rodape .logo img {
    width: 260px;
}
.rodape .info .texto i {
    font-size: 27px;
    color: #4e5773;
    margin: 10px 20px;
}

.rodape .social {
    display: flex;
    justify-content: center
}

.rodape .social .rede {
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px
}

.rodape .social .rede i {
    font-size: 25px;
    color: #666
}

.logo-pw {
    margin: 20px auto;
    text-align: center;
    display: table;
}

.logo-pw div {
    text-align: left
}

.logo-pw div p:first-child a {
    color: #083761;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block;
}

.logo-pw div a span {
    color: transparent
}
.swiper-container {
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.swiper-wrapper img {
    width: 100%;
}
.slogan-total {width: 100%;display: flex;justify-content: center;align-items: center;/* height: 500px; */top: 150px;position: absolute;}
/* Index */
 .swiper-container {} .swiper-slide { display: flex; justify-content: center; } .slogan {width: 700px;cursor: default;position: absolute;z-index: 999;top: 190px;} .slogan .titulo {font: 45px 'Lato';font-weight: bold;color: #fff;margin: 20px 0px;padding: 0px 10px;text-align: center;text-shadow: 2px 2px #000;} .slogan .texto {margin: 20px 0px;padding: 0px 30px;text-align: center;font: 45px 'Lato';font-weight: bold;color: #fff;text-shadow: 2px 2px #000;} .slogan .botao { display: flex; } .slogan .botao a { font: 18px 'lato'; color: #fff; text-align: center; margin: 20px auto; padding: 15px 80px; border: 1px solid #fff; position: relative; z-index: 9 !important; overflow: hidden; background: none; } .slogan .botao a:after { content: ''; position: absolute; z-index: 0; top: 0; right: 0; width: 0; height: 0; border-right: 0px solid #fff; border-left: 30px solid transparent; border-top: 30px solid #fff; transition: .5s; background: none; } .swiper-pagination { position: relative !important; margin: 100px 0px 90px; } .swiper-pagination-bullet { width: 30px !important; height: 30px !important; border-radius: 0px !important; background: rgba(255, 255, 255, 0.2) !important; opacity: 1 !important; margin: 0px 20px !important; } .swiper-pagination-bullet-active { position: relative; background: none !important; } .swiper-pagination-bullet-active:after { content: ''; position: absolute; z-index: 0; top: 0; right: 0; width: 0; height: 0; border-right: 0px solid #fff; border-left: 30px solid transparent; border-top: 30px solid #fff; } .box-01-total { background: #F8F8F8; display: flex; flex-direction: column; } .box-01 { width: 800px; margin: 40px auto; text-align: center; display: flex; flex-direction: column; visibility: hidden; } .box-01 .titulo {font: 35px 'lato';font-weight: bold;color: #123b64;padding: 0px 30px;margin: 10px 0px;} .box-01 .texto {font: 20px 'lato';color: #123b64;margin: 10px 0px;padding: 0px 30px;} .box-02-total { background: #fff; border-bottom: 1px solid #ddd; } .box-02 { width: 1200px; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; } .box-02 .item {width: 24%;position: relative;overflow: hidden;margin: 40px 0px;visibility: hidden;height: 246px;} .box-02 .item:after {content: '';position: absolute;z-index: 0;top: 0;right: 0;width: 0;height: 0;border-right: 0px solid #fff;border-left: 70px solid transparent;border-top: 70px solid #fff;transition: .5s;} .box-02 .img {text-align: center;position: relative;/* overflow: hidden; */} .box-02 .img i { font-size: 70px; color: #ddd; transition: .5s; } .box-02 .titulo {font: 30px 'lato';font-weight: bold;color: #fff;text-align: center;margin: 20px 0px;padding: 0px 10px;position: absolute;z-index: 999;transition: .5s;top: 0;display: flex;justify-content: center;width: 100%;} .box-02 .texto {font: 20px 'lato';font-weight: bold;color: #fff;text-align: center;margin: 20px 0px;padding: 0px 10px;position: absolute;z-index: 999;transition: .5s;top: 85px;} .box-03-total { background: #fff; display: flex; flex-direction: column; } .box-03 { width: 1200px; margin: 0 auto; perspective: 1000px; } .box-03 .titulo {font: 35px 'lato';font-weight: bold;color: #083761;text-align: center;margin: 20px 0px;padding: 0px 20px;visibility: hidden;} .box-03 .descricao { font: 20px 'lato'; color: #aaa; width: 740px; margin: 20px auto; text-align: center; padding: 0px 20px; visibility: hidden; } .box-03 .conteudo { display: flex; justify-content: space-around; flex-wrap: wrap; visibility: hidden; } .box-03 .conteudo .item { width: 33.333333%; display: flex; align-items: center; background: #ccc; margin: 20px 0px 40px; padding: 20px 0; } .box-03 .conteudo .item:first-child {background: #4d5673;} .box-03 .conteudo .item:last-child {background: #4d5673;} .box-03 .conteudo .item .numero { font: 150px 'lato'; color: rgba(255, 255, 255, 0.2); } .box-03 .conteudo .item .texto { font: 20px 'lato'; color: #fff; margin: 10px 0px; padding: 0px 10px; } .box-04-total { background: #f8f8f8; display: flex; flex-direction: column; position: relative; z-index: 1; } .box-04 { width: 1000px; margin: 0 auto; visibility: hidden; } .box-04 .titulo {font: 35px 'lato';font-weight: bold;text-align: center;color: #073761;margin: 20px 0px;} .box-04 form { display: flex; flex-direction: column; } .box-04 form .cima { display: flex; justify-content: space-between; flex-wrap: wrap; } .box-04 input { font: 20px 'lato'; color: #aaa; padding: 10px; border: 1px solid #ddd; margin: 10px 0px; width: 30%; } .box-04 textarea { font: 20px 'lato'; color: #aaa; padding: 10px; border: 1px solid #ddd; height: 100px; margin: 10px 0px; resize: none; box-sizing: border-box; } .box-04 span {margin: 20px auto;border: 1px solid #073761;position: relative;z-index: 9 !important;overflow: hidden;} .box-04 span:after {content: '';position: absolute;z-index: 0;top: 0;right: 0;width: 0;height: 0;border-right: 0px solid #4e5673;border-left: 30px solid transparent;border-top: 30px solid #bb963e;transition: .5s;background: none;} .box-04 .submit { background: none; border: none; color: #666; padding: 15px 80px; margin: 0px; position: relative; z-index: 999; transition: .5s; cursor: pointer; } .mapa { visibility: hidden; position: relative; z-index: 0; } 
 .mapa iframe { display: flex; }
.slogan .texto b {
    font: 45px 'Lato';
    font-weight: bold;
    color: #ff9a00;
    text-shadow: 2px 2px #000;
}
.whatsapp-topo p {
    font: 14px Lato, sans-serif;
    color: #093862;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.whatsapp-topo a {
    font: 16px Lato, sans-serif;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    background: #278a00;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-topo a i {
    color: #fff;
    font-size: 19px;
    margin-right: 5px;
}
.box-02 .img img {transition: 0.5s;}
.text {
    width: 100%;
    height: 100%;
    background: rgb(185 148 60 / 58%);
    top: 0;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.box-02 .item:hover img {
    transform: rotate(5deg);
    transition: 0.5s;
}

.box-02 .item:hover .text {
    background: transparent;
    transition: 0.5s;
}

.box-02 .item:hover {
    overflow: initial;
}

.box-02 .item:hover .text {
    opacity: 0;
    transition: 0.5s;
}
@keyframes whatsapp {
  30% {
    box-shadow: 0 0 0 5px rgba(37, 211, 102, 0.3);
  }

  45% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.3);
  }

  60% {
    box-shadow: 0 0 0 5px rgba(37, 211, 102, 0.3);
  }
}

.whatsapp-topo {
  bottom: 30px;
  right: 30px;
  animation: atencao 10s 10s infinite;
}


.whatsapp-topo a:hover {
  animation: whatsapp 1.5s
}
.conteudo-pages .titulo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: url(template/pw-images/fundo-titulo.jpg) center no-repeat fixed;
}

.conteudo-pages .titulo h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.conteudo-pages .titulo h1 i {
    font-size: 50px;
    color: #083761;
}
.box-empresa {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 60px auto;
    align-items: center;
}

.box-empresa .texto {
    width: 725px;
}

.box-empresa .texto p {
    font-size: 24px;
    text-align: justify;
    margin: 20px 0px;
    font-family: 'calibri';
}
.box-mvv {
    display: flex;
    width: 1330px;
    margin: 60px auto;
    justify-content: space-around;
}

.box-mvv .mvv {
    background: #eee;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.box-mvv .mvv .icon i {
    font-size: 70px;
    color: #fe8c00;
}

.box-mvv .mvv .titulo-mvv p {
    font-size: 22px;
    color: #000;
    margin: 10px 0px;
}

.box-mvv .mvv .texto-mvv p {
    font-size: 18px;
    text-align: justify;
    margin: 5px 0px;
}
.box-produtos {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin: 0px auto;
    flex-wrap: wrap;
    padding: 140px;
}

.box-produtos-total {
    height: 400px;
    background: #fe8c00;
    margin: 30px 0px;
}

.produtos {
    background: #fff;
    width: 270px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.produtos img {
    border-radius: 110px;
    margin: 30px 0px;
}

.titulo-produto p {
    font-size: 20px;
    margin: 20px 0px;
}

.texto-produto p {
    font-size: 18px;
}

.btn-saiba-mais {
    background: #666;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    transition: 0.5s;
}

.btn-saiba-mais p {
    font-size: 16px;
}
.fundo-branco {
    min-height: 800px;
}
.produtos:hover {
    background: #efefef;
    transform: scale(1.05);
    transition: 0.5s;
}
.btn-saiba-mais:hover {
    background: #fe8c00;
    transition: 0.5s;
}

.btn-saiba-mais:hover p {
    color: #fff;
}
.btn-saiba-mais p {
    color: #fff;
}
.servico {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0px;
}

.box-servicos img {
    border-radius: 110px;
}
.box-servicos {
    background: #eee;
    margin: 20px 0px;
    box-shadow: 0px 0px 5px 0px black;
    padding: 20px;
}

.texto-servico h3 {
    font-size: 25px;
    font-family: 'calibri';
    padding: 10px 0px;
}
.box-servicos h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: #083761;
}

.texto-servico p {
    font-size: 20px;
    font-family: 'calibri';
    margin: 10px 0px;
}
.texto-servico p b {
    font-size: 20px;
    font-family: 'calibri';
}
.btn-servico p {
    font-size: 20px;
    font-weight: bold;
}

.btn-servico p i {
    color: #fe8c00;
    font-size: 20px;
}
.btn-servico:hover {transition: 0.5s;transform: rotate(10deg);}

.btn-servico {
    transition: 0.5s;
    cursor: pointer;
}
.info-total {
    width: 50%;
    background: #fe8c00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-total {
    width: 50%;
    background: #eee;
    padding: 20px 0px;
}

.contato-total .contato {
    display: flex;
    margin: 50px auto;
}


.formulario form {display: flex;flex-wrap: wrap;justify-content: center;}
.titulo-form {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-form h2 {
    font-size: 24px;
    color: #fe8c00;
}
.infos .titulo-contato {
    font-size: 25px;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infos .conteudo p {
    font-size: 20px;
    color: #000;
    margin: 20px 0px;
}

.infos .conteudo p i {
    font-size: 20px;
    color: #fff;
}
.linha {
    border: 1px solid #fff;
    width: 214px;
    margin-left: -34px;
}
.box-imgs {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box-imgs img {
    margin: 10px;
    transition: 0.5s;
}

.box-imgs img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.linha-tab {
    display: flex;
    justify-content: space-around;
}

.tabela {
    width: 1100px;
    margin: 0px auto;
    border: 2px solid #083761;
}

.col {
    width: 30%;
    text-align: center;
}

.col p {
    font-size: 17px;
    padding: 5px;
}

.col.title {
    text-align: left;
}
.legenda {
    width: 1100px;
    margin: 20px auto;
}

.legenda h3 {
    font-size: 22px;
    color: #053761;
}

.legenda p {
    font-size: 18px;
    color: #000;
}
.background {
    background: url(../pw-images/logo-fundo.png) repeat;
}

.mapa-img{
    display: none;
}




@media only screen and (min-width:998px) {
    .menu li a:hover {
        color: #be9739;
    }
    .menu li a:hover:after {
        top: 0;
        right: 0;
        opacity: 1
    }
    .slogan .botao a:hover:after {
        border-left: 400px solid transparent;
        border-top: 130px solid #fff;
        opacity: .1
    }
    .box-02 .item:hover:after {
        border-top: 260px solid #ffffff14;
        border-left: 290px solid #ffffff00;
    }
    .box-02 .item:hover .img i {
        color: #fff
    }
    .box-02 .item:hover .titulo {
        color: #fff
    }
    .box-02 .item:hover .texto {
        color: #fff
    }
    .box-04 span:hover .submit {
        color: #fff
    }
    .box-04 span:hover:after {
        border-left: 410px solid transparent;
        border-top: 200px solid #083761;
    }

    
}

@media only screen and (max-width:1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box
    }
}

@media only screen and (max-width:850px) {
    .box-03 .conteudo .item {
        flex-direction: column;
        text-align: center
    }

    .swiper-container{
        display: none;
    }

    .slogan-total{
        display: none;
    }

    .menu li{
        background-color: #083761;
        padding: 10px 0;
    }

    .menu li a{
      color: #ffffff;
    }

    .whatsapp-topo {
        padding-bottom: 20px;
    }


    .rodape {
        justify-content: center;
    }

    .mapa iframe{
        display: none;
    }

    .mapa-img{
        display: block;
    }

    .box-empresa{
        flex-wrap: wrap;
        padding: 20px;
    }

    .texto {
        padding: 10px 25px;
    }

    .box-empresa .texto p {
        font-size: 17px;
    }
    
    .redes.sociais {
        text-align: center;
    }

    .col p{
        font-size: 8px;
    }

    .legenda p{
        font-size: 12px;
    }

    .box-03 .conteudo .item {
       width: 100%;
    }

    
}

@media only screen and (max-width:740px) {
    .menu li a {
        font: 15px lato;
        padding: 0 10px
    }
    .slogan .titulo {
        font: 34px Lato
    }
    .slogan .texto {
        font: 15px lato
    }
    .slogan .botao a {
        font: 15px lato
    }
    .box-01 .titulo {
        font: 25px lato
    }
    .box-01 .texto {
        font: 15px lato
    }
    .box-02 .item {
        width: 48%;
        margin: 10px 0
    }
    .box-03 .titulo {
        font: 25px lato
    }
    .box-03 .texto {
        font: 15px lato
    }
    .rodape .info {
        flex-direction: column
    }
    .rodape .info .texto {
        display: flex;
        justify-content: center
    }
    .rodape .info .texto:first-child {
        border: none
    }
}

@media only screen and (max-width:660px) {
    .menu li {
        width: 30%;
        text-align: center
    }
}

@media only screen and (max-width:500px) {
    .box-03 .conteudo .item {
        width: 100%;
        margin: 0
    }
    .box-04 input {
        width: 90%;
        margin: 10px auto
    }
    .box-04 textarea {
        width: 90%;
        margin: 10px auto
    }
    .slogan .titulo{
        font-size: 30px
    }
    .slogan .texto{
        font-size: 18px;
    }
    .slogan .botao a{
        padding: 10px 40px;
    }
    .box-02 .item{
        width: 90%;
    }
}

@media only screen and (max-width:350px) {
    .rodape .info .texto {
        font: 15px lato
    }
}
