div:hover > .btn { display: block; opacity: 1; transition: all 1s; } .btn { text-align: center; margin: 0 auto; width: 100%; height: 40px; padding: 5px 0px; bottom: 0px; z-index: 999; cursor: pointer; opacity: 0.6; transition: all 1s; } .btn.absolute { position: absolute; } .btn > div { width: 100px; display: inline-block; } .btn .remove::before {    font-weight: 900; content: "\f05e"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .remove::after { content: ""; font-family: calibri; font-size: 14px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::before { font-weight: 900; content: "\f055"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::after { content: "RETORNAR"; font-family: calibri; font-size: 16px; color: #000; width: 100%; text-align: center; display: block; } .btn.white *::before, .btn.white *::after { color: #fff !important; }
* {
    font-size: 12px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

a {
    text-decoration: none
}

.esquerda,
.esquerdo,
.left,
.float-left,
.alignleft {
    float: left;
    display: table;
    margin: 0 10px 10px 0
}

.direita,
.direito,
.right,
.float-right,
.alignright {
    float: right;
    display: table;
    margin: 0 0 10px 10px
}

.meio,
.center,
.aligncenter {
    display: table;
    margin: 20px auto
}

.borda {
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 2px 0 #666
}

.global {
    margin: 0 auto
}

.conteudo-pages {
    min-height: 500px;
    margin: 0 auto
}

.texto-pages {
    font: 15px/25px Calibri;
    color: #000;
    text-align: justify
}

.texto-pages h1 {
    font: 25px Calibri;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.texto-pages h2 {
    font: 20px Calibri;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.contato input {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato [required="required"] {
    background: #eee url(template/pw-images/required.png) center right 10px no-repeat;
    background-size: 9px
}

.contato select,
.contato option {
    width: 50%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset
}

.contato textarea {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    resize: none;
    height: 200px;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato .submit {
    cursor: pointer;
    background: #333;
    color: #fff
}

.contato .required {
    color: #d90000;
    font: 17px calibri;
    font-weight: lighter;
    margin-bottom: 10px
}

.contato .required img {
    height: 9px
}

body {
    overflow-x: hidden
}

.linha-topo-total {
    background: #333
}

.linha-topo {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    visibility: hidden
}

.linha-topo .dados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.linha-topo .item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center
}

.linha-topo .texto {
    padding: 0 10px;
    font-size: 18px;
    color: #fff
}

.linha-topo .redes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0
}

.linha-topo .redes .img {
    padding: 0 10px
}

.linha-topo i {
    font-size: 20px;
    color: #fff
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.logo {
    margin: 30px 0;
    visibility: hidden
}

.menu {
    margin: 25px 0;
    visibility: hidden
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.menu li {
    list-style-type: none;
    padding: 50px 40px;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.27, 1.55)
}

.menu li a {
    font-size: 18px;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    color: #fff
}

.menu li:hover a {
    border-bottom: 5px solid #FFF;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    padding: 45px 0
}

.menu li:nth-child(odd) {
    background: #0082C7
}

.menu li:nth-child(even) {
    background: #002F47
}

.menu li:hover {
    background: #0bccde
}

.rodape-total {
    background: #333
}

.rodape {
    margin: 0 auto;
    width: 623px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.rodape i {
    color: #fff;
    font-size: 18px
}

.rodape .esquerda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.rodape .direita {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.texto-rodape {
    margin: 30px 0;
    border-bottom: 1px solid #fff
}

.texto-rodape .texto {
    color: #fff;
    font-size: 18px;
    padding-left: 10px
}

.redes-rodape {
    width: 100%;
    text-align: center
}

.redes-rodape img {
    padding: 0 10px
}

.logo-pw {text-align: center;padding: 20px 0px;}

.logo-pw div {
}

.logo-pw div p:first-child a {
    color: #fff;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block
}

.logo-pw div a span {
    color: transparent
}

.banner {
    position: relative!important;
    display: flex;
    justify-content: center
}

.banner img {
    width: 100%
}

.banner .texto {
    position: absolute;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    visibility: hidden;
    z-index: 999
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.form-esquerda {
    width: 530px
}

.form-direita {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    background: #0c547a;
    border: 1px inset #fff
}

input[type="text"].mensagem {
    width: 99.6%;
    height: 196px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    background: #0c547a;
    border: 1px inset #fff
}

.botao {
    width: 100%;
    margin: 0 auto;
    visibility: hidden
}

input[type="submit"] {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    background: #0082C7;
    color: #fff;
    border: none;
    margin-bottom: 30px;
    transition: .5s all
}

input[type="submit"]:hover {
    background: #0bccde
}

input::placeholder {
    color: #bbb
}

.mapa {
    visibility: hidden
}

.mapa iframe {
    width: 100%
}

/* Index */

 .box-01-total {} .box-01 { width: 1200px; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; } .box-01 .linha-01 { margin: 10px 0px; display: flex; width: 1200px; justify-content: space-between; flex-wrap: wrap; visibility: hidden; } .linha-01 .conteudo { display: flex; align-items: center; width: 520px; background: #7A4500; margin: 10px 0px; padding: 30px; } .linha-01 .img { margin: 10px 0px; } .linha-01 .titulo { font-size: 50px; text-align: center; color: #fff; font-family: 'Lato', sans-serif; margin: 20px 0px; } .linha-01 .texto { padding: 0px 20px; margin: 20px 0px; color: #fff; font-size: 22px; text-align: center; } .box-01 .linha-02 { margin: 10px 0px; display: flex; width: 1200px; justify-content: space-between; flex-wrap: wrap; } .box-01 .linha-02 .conteudo { width: 320px; margin: 10px 0px; text-align: center; background: #19AFFF; padding: 30px; visibility: hidden; } .box-01 .linha-01 .img { background: #333; } .box-01 .linha-01 .img img { opacity: 0.8; margin-bottom: -3px; transition: 0.5s; } .box-01 .linha-01:hover .img img { opacity: 1; margin-bottom: -3px; } .linha-02 .conteudo.esquerda { background: #0BCCDE; } .linha-02 .conteudo.direita { background: #0BD4AD; } .box-01 .conteudo .item { border: 2px solid transparent; transition: 0.5s all; } .box-01 .conteudo:hover .item { border: 2px solid #fff; } .box-01 i { font-size: 90px; color: #fff; margin: 20px 0px; } .linha-02 .titulo { font-size: 40px; margin: 10px 0px; color: #fff; font-family: 'Lato', sans-serif; } .linha-02 .texto { font-size: 22px; margin: 20px 0px; color: #fff; padding: 0px 10px; } .box-01 .linha-03 { margin: 10px 0px; display: flex; width: 1200px; justify-content: space-between; flex-wrap: wrap; visibility: hidden; } .linha-03 .conteudo { display: flex; align-items: center; width: 520px; background: #7A7706; margin: 10px 0px; padding: 30px; } .linha-03 .img { margin: 10px 0px; } .linha-03 .titulo { font-size: 50px; text-align: center; color: #fff; font-family: 'Lato', sans-serif; margin: 20px 0px; } .linha-03 .texto { padding: 0px 20px; margin: 20px 0px; color: #fff; font-size: 22px; text-align: center; } .box-01 .linha-03 .img { background: #333; } .box-01 .linha-03 .img img { opacity: 0.8; margin-bottom: -3px; transition: 0.5s; } .box-01 .linha-03:hover .img img { opacity: 1; margin-bottom: -3px; } .box-02-total { background: #0082C7; } .box-02 { width: 1200px; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; } .box-02 .item { margin: 20px 0px; border: 1px solid #fff; box-shadow: 1px 1px 1px 1px; visibility: hidden; } .box-02 img { margin-bottom: -3px; transition: 0.5s all; } .box-02 .item:hover img { transform: rotate(5deg) scale(1.1); filter: blur(0px); } .box-02:hover img { filter: blur(2px); } .box-03-total { background: #0C547A; } .box-03 { margin: 0 auto; width: 1200px; display: flex; justify-content: space-around; flex-wrap: wrap; } .box-03 .titulo { width: 100%; text-align: center; margin: 40px 0px; font-size: 50px; font-family: 'Lato', sans-serif; color: #fff; }



/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */


.conteudo{
    width: 100%;
}

.conteudo-sobre{
    width: 1200px;
    background-color: white;
    margin:auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    color: #ED7547;   
}

h2{
    color: #0484C5;
    font-size: 23px;
    margin-top: 20px;
}

p{
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #EB660C;
    font-size: 16px;
    line-height: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}
.conteudo-sobre img{
 
    padding: 10px;
     
}
    
.buttonSolicitar{
    background-color:#ED7547; 
    border: none;
    color: whitesmoke; 
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;

}
.buttonAmostra{
    font-weight: 700;
    background: #0082c7;
    border: none;
    color: whitesmoke;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

i.far.fa-envelope {
    font-size: 30px;
    display: flex;
    padding: 5px;
    color: white;
}

.box-interno{
    margin-top: 30px;
    border-top: 4px solid #0484c8;
}

.box-interno-dois{
    padding: 10px;
    border-bottom: 4px solid #0484c8;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.box-interno-tres{
    width: 1200px;
    border-bottom: 4px solid #0484c8;
    display: flex;
    align-items: center;
    min-height: 400px;
}

.box-interno-cinco {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
}

.box-interno-buttonAmostra{
    display: flex;
    justify-content: center;
}

.tituloMaior{
    font-size: 28px;
    font-weight: 700;
    color: #666;
    display: flex;
    align-items: center;
}

.tituloMaior img{
    display: flex;
    margin-left: 40px;
}

.img-box-interno-seis{
    text-align: center;
}

/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */


.circulo{
    background-color:#006194;
    box-shadow:2px 2px 0px 2px #004266;
    border-radius: 50%;
    width: 136px;
    height: 136px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    
}

.tituloServicos{
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    min-height: 50px;
}

i{
    font-size: 60px;
    color: white;
}

/* ////////////////////////////////////////////////////////// */
/* //////////////////////////     Página portfólio              //////////////////////////////// */
/* ////////////////////////////////////////////////////////// */


.box-interno-portfolio{
    display: flex;
    margin: 0 auto;
}

.box-imagem{
    padding: 20px;
    position: relative
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ED7547;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.box-imagem:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ////////////////////////////////////////////////////////// */
/* //////////////////////////     Página contato              //////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.box-interno-tres-form{
    width: 600px;
    /* height: 600px; */
    /* text-align: center; */
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    text-align: left;

}
.box-interno-tres-form input{
    width: 400px;
    display: flex;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 2px solid #CCC;
    padding: 2px;
    text-align: unset;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.inputFormulario{
    padding: 3px;
}

.inputFormularioDois{
    padding: 3px;
    width: 600px;  
}
.inputFormularioTres{
    align-items: flex-start;
    padding: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.8; /* Firefox */
}

.inputFormularioTres textarea {
    width: 400px;
    padding: 3px;
    height: 100px;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


.box-interno-tres-form button{
    /* transition: all .5s; */
    cursor: pointer;
    border: none !important;
    font: 12px 'Helvetica';
    text-transform: uppercase;
    width: 412px;
    height: 50px;
    background: #006194;
    color: #fff;
    border: none;
    border-radius: 40px 10px;
}
.box-interno-quatro p{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.conteudo-contato-total{
    display: flex;
}

.conteudo-sobre img{

    padding: 10px;
     
    float: right;
}


.mapa-resp {
    display: none;
}








/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */



@media only screen and (max-width:1200px) {

    * {
        max-width: 100%;
        box-sizing: border-box
    }
    .menu li{
        padding: 20px;
    }

}

@media only screen and (max-width:1160px) {
    .box-01 .linha-02 .conteudo {
        flex-wrap: wrap;
        width: 100%
    }
}

@media only screen and (max-width:1024px) {

    .box-02 .item:nth-child(7) {
        display: none
    }
    .box-02 .item:nth-child(8) {
        display: none
    }
    .banner .texto{
        font-size: 18px;
        padding: 10px 0;
    }
    .logo{
        margin: 10px 0;
    }
    .menu{
        margin: 10px 0;
    }

    .box-interno-dois{
        flex-wrap: wrap;
    }

    .servico{
        width: 100%;
    }
    .tituloServicos{
        width: 100%;
        margin: 0 auto;
    }

    .box-interno-portfolio{
        flex-wrap: wrap;
    }
    .box-imagem{
        width: 51%;
        margin: 0 auto;
    }
    .overlay{
        display: none;
    }

}

@media only screen and (max-width:1177px) {
    .box-01 .linha-01 .img {
        display: none
    }
    .linha-01 .conteudo {
        width: 100%
    }
    .box-01 .linha-03 .img {
        display: none
    }
    .linha-03 .conteudo {
        width: 100%
    }
    form {
        justify-content: center;
        display: flex;
        width: 100%
    }
    .form-esquerda {
        width: 100%
    }
    .form-direita {
        width: 100%
    }

    .inputFormularioDois{
        width: auto;
    }


    .inputFormulario{
        width: 100%;
    }

    .inputFormularioDois{
        width: 100%;
    }

    .inputFormularioTres{
        width: 100%;
    }


    .conteudo-contato-total{
        flex-wrap: wrap;
    }

    .box-interno-tres-form{
        width: 100%;
        text-align: center;
    }

    input#nome {
        margin: 0 auto;
    }

    input#email {
        margin: 0 auto;
    }



}

@media only screen and (max-width:775px) {

    .conteudo-pages {
        padding: 2%
    }
    .menu li {
        margin-left: 0;
        margin-right: 0;
        text-align: center
    }
    .rodape div {
        width: 100%;
        margin: 20px 0;
        text-align: center
    }
    .rodape i {
        font-size: 60px
    }
    .box-01-total {
        margin-top: 0
    }
    .linha-01 .conteudo {
        height: auto
    }
    .box-01 .linha-02 .conteudo {
        width: 100%
    }
    .linha-03 .conteudo {
        height: auto
    }
    .banner-total {
        display: none;
    }
    .mapa {
        display: none;
    }
    .mapa-resp {
        display: block;
    }

}

@media only screen and (max-width: 600px){

    .box-03{
        padding: 10px;
    }
    .box-03 .titulo{
        font-size: 30px;
    }
    .banner .texto{
        position: relative;
    }
    .banner{
        flex-wrap: wrap;
    }
    .menu li{
        padding: 15px;
    }

}

@media only screen and (max-width: 500px){

    .menu li{
        width: 50%;
        border: 1px solid #fff;
    }
    .menu li:last-child{
        width: 100%;
    }

}