<link rel="stylesheet" type="text/css" href="../css/style.css" />

<div class="global-all-pages">

    <div class="titulo-total">

        <div class="fir-esq-titulo"><img src="[template]/images/esq-menu.jpg" width="10px" height="40px" /></div>

        <div class="icone-titulo"><img src="[template]/images/icone.png" width="38px" height="35px" /></div>

        <div class="titulo">
            <h1>Confirmação de Presença - William e Áquila</h1>
        </div>

        <div class="fir-dir-titulo"><img src="[template]/images/dir-menu.jpg" width="10px" height="40px" /></div>

    </div> <!-- titulo total -->

    <div class="rsvp-total">

        <div class="banner-rsvp"><img src="[template]/images/confirmacao-presenca/capa-de-casamento-william-e-aquila.jpg" /></div>

        <div class="lojas">
            <a href="https://www.querodecasamento.com.br/lista-de-casamento/william-gustavo-aquila/" target="_blank" title="">
                <img src="https://www.luigieventos.com.br:443/cerimonial/template/images/quero-de-casamento.png" title="" alt="">
            </a>
        </div>

        <form action="mail-confirma.php" method="post">

            <input type="hidden" value="Casamento - William e Áquila" name="Casal" />

            <div id="form-rsvp-total">

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Confirmação:</div>

                    <div class="input-rsvp">

                        <select class="class-select-rsvp2" name="Confirmacao">

                            <option class="class-select-rsvp" value="Presença">Presença</option>

                            <option class="class-select-rsvp" value="Ausência">Ausência</option>

                        </select>

                    </div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Nome que consta no convite:</div>

                    <div class="input-rsvp"><input type="text" name="Nome-convite" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Nome dos noivos ou aniversariante:</div>

                    <div class="input-rsvp"><input type="text" name="Nome-evento" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Nome dos adultos:</div>

                    <div class="input-rsvp"><input type="text" name="Adultos" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp"><input type="text" name="Adultos1" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp"><input type="text" name="Adultos2" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp"><input type="text" name="Adultos3" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Nome das crianças e a idade:</div>

                    <div class="input-rsvp2"><input type="text" name="Criancas" class="class-input-rsvp2" /></div>

                    <div class="input-select-rsvp">

                        <select class="class-select-rsvp" name="Idade">

                            <option class="class-select-rsvp">---</option>

                            <option class="class-select-rsvp" value="01">01</option>

                            <option class="class-select-rsvp" value="02">02</option>

                            <option class="class-select-rsvp" value="03">03</option>

                            <option class="class-select-rsvp" value="04">04</option>

                            <option class="class-select-rsvp" value="05">05</option>

                            <option class="class-select-rsvp" value="06">06</option>

                            <option class="class-select-rsvp" value="07">07</option>

                            <option class="class-select-rsvp" value="08">08</option>

                            <option class="class-select-rsvp" value="09">09</option>

                            <option class="class-select-rsvp" value="10">10</option>

                            <option class="class-select-rsvp" value="11">11</option>

                            <option class="class-select-rsvp" value="12">12</option>

                        </select>

                    </div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp2"><input type="text" name="Criancas1" class="class-input-rsvp2" /></div>

                    <div class="input-select-rsvp">

                        <select class="class-select-rsvp" name="Idade1">

                            <option class="class-select-rsvp">---</option>

                            <option class="class-select-rsvp" value="01">01</option>

                            <option class="class-select-rsvp" value="02">02</option>

                            <option class="class-select-rsvp" value="03">03</option>

                            <option class="class-select-rsvp" value="04">04</option>

                            <option class="class-select-rsvp" value="05">05</option>

                            <option class="class-select-rsvp" value="06">06</option>

                            <option class="class-select-rsvp" value="07">07</option>

                            <option class="class-select-rsvp" value="08">08</option>

                            <option class="class-select-rsvp" value="09">09</option>

                            <option class="class-select-rsvp" value="10">10</option>

                            <option class="class-select-rsvp" value="11">11</option>

                            <option class="class-select-rsvp" value="12">12</option>

                        </select>

                    </div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp2"><input type="text" name="Criancas2" class="class-input-rsvp2" /></div>

                    <div class="input-select-rsvp">

                        <select class="class-select-rsvp" name="Idade2">

                            <option class="class-select-rsvp">---</option>

                            <option class="class-select-rsvp" value="01">01</option>

                            <option class="class-select-rsvp" value="02">02</option>

                            <option class="class-select-rsvp" value="03">03</option>

                            <option class="class-select-rsvp" value="04">04</option>

                            <option class="class-select-rsvp" value="05">05</option>

                            <option class="class-select-rsvp" value="06">06</option>

                            <option class="class-select-rsvp" value="07">07</option>

                            <option class="class-select-rsvp" value="08">08</option>

                            <option class="class-select-rsvp" value="09">09</option>

                            <option class="class-select-rsvp" value="10">10</option>

                            <option class="class-select-rsvp" value="11">11</option>

                            <option class="class-select-rsvp" value="12">12</option>

                        </select>

                    </div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp2"><input type="text" name="Criancas3" class="class-input-rsvp2" /></div>

                    <div class="input-select-rsvp">

                        <select class="class-select-rsvp" name="Idade3">

                            <option class="class-select-rsvp">---</option>

                            <option class="class-select-rsvp" value="01">01</option>

                            <option class="class-select-rsvp" value="02">02</option>

                            <option class="class-select-rsvp" value="03">03</option>

                            <option class="class-select-rsvp" value="04">04</option>

                            <option class="class-select-rsvp" value="05">05</option>

                            <option class="class-select-rsvp" value="06">06</option>

                            <option class="class-select-rsvp" value="07">07</option>

                            <option class="class-select-rsvp" value="08">08</option>

                            <option class="class-select-rsvp" value="09">09</option>

                            <option class="class-select-rsvp" value="10">10</option>

                            <option class="class-select-rsvp" value="11">11</option>

                            <option class="class-select-rsvp" value="12">12</option>

                        </select>

                    </div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">E-mail:</div>

                    <div class="input-rsvp"><input type="text" name="prova" class="class-input-rsvp" /></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp">Telefone:</div>

                    <div class="input-rsvp"><input type="text" name="Telefone" class="class-input-rsvp3" /> (99) 9999-9999</div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp2">Observação:</div>

                    <div class="textarea-rsvp"><textarea name="Mensagem" class="class-textarea-rsvp"></textarea></div>

                </div> <!-- linha form rsvp -->

                <div class="linha-form-rsvp">

                    <div class="texto-form-rsvp"></div>

                    <div class="input-rsvp"><input type="submit" name="enviar" value="Enviar" class="class-button-rsvp" /></div>

                </div> <!-- linha form rsvp -->


                <div class="clear"></div>
            </div><!-- form rsvp total -->

        </form>

    </div>


    <div class="clear"></div>
</div> <!-- global all pages -->
