<!-- <link rel="stylesheet" href="formCss.css"> -->

<h1>Formulário</h1>

<form method="POST">
    <input type="hidden" name="id" value="3">
    <input type="text" name="nome" id="">
    <input type="password" name="senha" id="">
    <textarea name="bio" id="" cols="30" rows="10"></textarea>
    <div>
        <input type="radio" name="tipo" id="" value="admin">Admin
        <input type="radio" name="tipo" id="" value="regular">Regular
        <input type="radio" name="tipo" id="" value="professor">Professor
    </div>
    <div>
        <input type="checkbox" name="ativo" id="">Ativo
    </div>

    <select name="estado" id="">
        <option value="">Selecione</option>
        <option value="ba">Bahia</option>
        <option value="sp">São Paulo</option>
        <option value="rj">Rio de Janeiro</option>
    </select>

    <select name="interesses" multiple size="6" id="">
        <option value="js">JavaScript</option>
        <option value="java">Java</option>
        <option value="php">PHP</option>
        <option value="python">Python</option>
        <option value="go">Go</option>
    </select>
    
    <button formaction="http://localhost:3003/usuarios">Incluir</button>
    <button formaction="http://localhost:3003/usuarios/3">Alterar</button>
    
</form>

<!-- Outros Exemplos -->
<form>
    Mês e ano: <input type="month" name="mesano">
</form>

<form>
    Selecione sua cor preferida: <input type="color" name="favcor" value="#0000FF">
</form>

<form>
    Data de nascimento: <input type="date" name="nascimento">
</form>

<form>
    Data de nascimento / Hora: <input type="datetime-local" name="bdaytime">
</form>

<form>
    E-mail: <input type="email" name="e-mail" placeholder="digite seu e-mail aqui">
</form>

<form>
    Seleciona 1 arquivo: <input type="file" name="arquivos">
</form>
 
<!-- Para permitir seleção de multiplos arquivos: -->
<form>
    Seleciona vários arquivos:<input type="file" name="arquivos" multiple>
</form>

<form action="/">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">
  </form>

<form>
    Quantidade (entre 1 e 5): <input type="number" name="quantidade" min="1" max="5">    
</form>

<form>
    <input type="password" name="senha" placeholder="Digite sua Senha">
</form>

<form>
    <p>Qual sua idade?</p>
    <input type="radio" name="idade" value="18_22">18 a 22 <br>
    <input type="radio" name="idade" value="23_30">23 a 30 <br>
    <input type="radio" name="idade" value="mais31">acima de 31<br>
</form>

<form>
    Defina seu nível de satisfação:<br>
    pouco satisfeito
    <input type="range" name="satisfacao" min="0" max="10">
    muito satisfeito
</form>

<form>
    <input type="reset">
</form>

<form>
    Pesquisar: <input type="search" name="q">
</form>

<form>
    <input type="submit" value="Enviar Formulário">
</form>

<form>
    Telefone: <input type="tel" name="usertel">
</form>

<form>
    Nome: <input type="text" name="nome"><br>
    Sobrenome: <input type="text" name="sobrenome"><br>
    Endereço: <input type="text" name="endereco">
</form>

Escolha o horário: <input type="time" name="usr_horario">

<form>
    Link do seu WebSite: <input type="url" name="webpage">
</form>

<form>
    Selecione uma semana: <input type="week" name="semana">
</form>

<form>
    <textarea></textarea>
 
    <textarea>Area de texto com um texto inicial dentro</textarea>
</form>



<!-- Fim dos exemplos -->

<style>
    input, 
    textarea,
    select {
    display: block;
    margin-bottom: 10px;
}

    input[type=radio],
    input[type=checkbox] {
        display: inline;
}

</style>